[2016-05-25 02:04] jsbackus opened #1 "Upload binaries"
2.21 available from @WAZAAAAA0.

[2016-05-25 02:06] jsbackus opened #2 "Incorporate Spanish transition."

[2016-05-25 02:07] jsbackus opened #3 "Next Steps"
This issue is intended for discussion of our next steps.

[2016-05-25 02:09] jsbackus commented on #3
Anyone grab a copy of the profiles repo?

[2016-05-25 04:59] DarkStarSword commented on #3
The most recent fork I can see is: https://github.com/slacknk/antimicro-profiles

Not sure if there's anything more recent than that - Ryochan7's recent history tab only goes back as far as March 8, so if there's anything between Feb 6 and then it would be missing. Looks like the repo doesn't get updated very often, so that might be fine. Otherwise it might be worth checking if any distros have a

[2016-05-25 05:04] DarkStarSword commented on #3
We should also look at restoring the wiki pages and release notes - @WAZAAAAA0 managed to grab them from Google's cache and uploaded them here:
http://www.mediafire.com/download/hla0doflg49th41/AntimicroPagesBackup.zip

[2016-05-25 12:52] ProfessorKaos64 commented on #3
Very happy to see the work being done here. I build this to my repository and use it a lot for SteamOS. Thank you all for your work. I'll try to help if I can with issues/conversation, unless you need an initial maintainer for Debian distros.

[2016-05-25 22:10] jsbackus commented on #3
@DarkStarSword Nice sleuthing! Yes, definitely want to get the wiki restored as well. I'll incorporate them when I get a chance. Thanks!

@ProfessorKaos64 Glad to help and also glad for any help. :smile: Yes, any help you could provide with supporting Debian distros would be greatly appreciated. I'm running Fedora and am not acquainted with building .debs.

[2016-05-25 22:37] ProfessorKaos64 commented on #3
Yea I could just make a Deb for the current Debian Jessie, and account for variants in Ubuntu. Those would be the popular targets. I already make one for SteamOS that uses Debian Jessie packages.

On May 25, 2016 6:10:01 PM EDT, Jeff Backus <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-05-27 07:31] DarkStarSword commented on #3
I can possibly help out with Windows builds. I have a Windows dev environment set up that I use for my work on 3DMigoto, though this uses a different build system and I have not tried actually building it yet.

[2016-05-28 00:25] jsbackus commented on #3
@ProfessorKaos64 Yeah, that would be really helpful, thanks!

@DarkStarSword Yes, that would be helpful if you could, please. I'm going to try to get it up and running in wine. Hopefully, between the two of us we can figure out the quirks of the compile environment. Thanks!

[2016-05-28 23:19] jsbackus commented on #3
Last night I was able to successfully build under wine, except for the installer. Qt and CMake installations were straight forward. WIX, not so much since it requires .NET 3.5.1. (which is ridiculous that an installer is dependent on .NET... /curmudgeon off). I'm going to plug at getting WIX to work under wine for a little bit longer, so that I can keep the one win7 machine I have for testing. Als

[2016-05-28 23:40] WAZAAAAA0 commented on #3
I was able to build my installers (antimicro-2.21-win32-fixedSDL.msi & antimicro-2.21-win64-fixedSDL.msi) using msi2xml. I extracted the XML straight from an original antimicro setup file and used it to rebuild with updated .DLL file. "-m" to ignore the checksum test.

I'm just saying, it's a possible solution, albeit ugly.

[2016-05-28 23:41] jsbackus opened #5 "Necessity of a 64bit Windows version?"
I wasn't part of the original conversation, so please forgive my ignorance, but are there any situations where a 64bit Windows version is required? I understand the need on Linux, since multilib isn't free. But, to my knowledge, there isn't a big difference between 32bit applications and 64bit applications, as long as you don't need the extra resources. I'm willing to support a 64bit version if th

[2016-05-29 01:11] jsbackus commented on #3
@WAZAAAAA0 Thanks! Looks like I was able to get WIX to install under wine. I should probably document what I did.... And yes, the hope is to have a 2.22 release candidate ready by the end of the weekend with the unreleased commits, the SDL 2.0.4 fix, and the Spanish translation. We'll see how far I get. @Ryochan7 was a lot faster than I am. :smiley:

[2016-05-29 01:16] jsbackus opened #6 "Upload wiki"

[2016-05-29 01:17] jsbackus opened #7 "Update Windows Build Steps"
Refers to Qt 5.4 and has the old Qt home page. Other?

[2016-05-29 01:26] jsbackus opened #8 "Document setting up build environment under Wine"
Verified under a 32bit prefix. Should work fine under 64bit? Need to check... Qt, CMake, and SDL install fine without any hackery. WIX, however, requires .NET. WIX 3.10 requires both 3.5.1 (sp1?) and 4.0, so install both...

Requirements:
1. Wine
2. winetricks ([https://wiki.winehq.org/Winetricks](https://wiki.winehq.org/Winetricks))
3. Setup files, as listed in the Readme. (i.e. Qt, SDL, CMake, W

[2016-05-29 02:30] jsbackus commented on #8
Had to add `-sval` to end of light.exe commandline. Probably a bad idea, but meh, worked.

[2016-05-29 19:19] jsbackus opened #9 "Update all URLs in source code"
Need to search code and translations for old references and update them.

[2016-05-29 19:20] jsbackus opened #10 "Update AppData file"
Haven't touched it in a while. Also, should address Hughsie's e-mails...

[2016-05-29 22:03] jsbackus opened #11 "make clean shouldn't wipe out translation files"
Wipe out the compiled versions, yes, but not the .ts files.

[2016-05-29 22:04] jsbackus commented on #3
Binaries for 2.21 have been uploaded (thanks @WAZAAAAA0!).

[2016-05-30 19:09] jsbackus commented on #9
Completed with commit 9d1c547.

[2016-05-30 19:09] #9 closed

[2016-05-30 19:09] jsbackus commented on #2
Completed in 928b1d.

[2016-05-30 19:09] #2 closed

[2016-05-30 19:36] jsbackus commented on #10
Completed in commit 9ba5939.

[2016-05-30 19:36] #10 closed

[2016-05-30 19:37] jsbackus commented on #7
Needs to be done, but not going to hold up release for it.

[2016-05-30 19:37] jsbackus commented on #6
Needs to be done, but not going to hold up release for it.

[2016-05-30 19:38] jsbackus opened #12 "Update ChangeLog and version number"
Need to read over changes since 2.21 and update changelog.

[2016-05-30 19:41] jsbackus commented on #3
Quick status update - replacing the wiki is going to be more work than simply uploading files, but I'll get around to it soon. I've finished all other things I intended to take care of for this release, other than to update the changelog, etc. I'll get to that soon.

[2016-05-31 18:16] WAZAAAAA0 commented on #3
It would be great if these forks...
@DarkStarSword
@est31
@zzpxyx
@AntiMicroAdvance
...and all the others also linked to this repository. My repo and @7185's one already do. Changing the description should be enough.

[2016-05-31 19:30] est31 commented on #3
https://github.com/est31/antimicro should now be a fork of this repo.

[2016-05-31 23:53] WAZAAAAA0 commented on #3
Let's say I'm working on an Italian translation of antimicro. Would you implement it @jsbackus?

[2016-06-01 07:42] 7185 commented on #3
I'm currently working on the French translation myself since it needs serious improvements. Qt Linguist is fun to use.

[2016-06-01 18:37] WAZAAAAA0 commented on #3
@7185 Qt Linguist? Dear God I can't believe such amazing software even exists. I love you for mentioning it, it really helps. I'd say it deserves to be added somewhere in the README as a means of helping translators. I mean look at how sexy it looks like: https://i.imgur.com/B6ovTx9.png

@qwerty12 somehow pulled out the .MD files for the wiki. Rename this file to .ZIP:
https://github.com/Ryochan7/

[2016-06-01 19:06] ProfessorKaos64 commented on #3
Launchpad could be used to cook up a script for all the releases, or whoever takes care of certain releases can just continue to add them to the releases page. I maintain my own repository for Debian software, but I'd rather reach a consensus when this time comes for a new version. I don't mind building Linux binaries to help out. It's something I feel semi-competent doing :) Debian distros are ha

[2016-06-02 23:49] jsbackus commented on #3
@WAZAAAAA0 Certainly! Thanks for doing the translation! Definitely recommend using Qt Linguist. To get started, I would copy `share/antimicro/translations/antimicro.ts` to `share/antimicro/translations/antimicro_<LANG>.ts`, where <LANG> is language abbreviation (i.e. es = Spanish) and optional Country/Region (i.e. zh_CN is the Chinese translation, I believe). Open the file in Linguist and please s

[2016-06-03 01:19] jsbackus commented on #3
whoops! Looks like there are some UI text changes that need to be incorporated into the translation files. I should revisit the about dialog, too. I'll take care of that in the next day or so and let everyone know. Sorry.. still new at this translation business... :innocent:

[2016-06-03 01:20] jsbackus opened #13 "Modify build environment to not drop moc and compiled files in root"
Use a subdirectory to keep things tidy....

[2016-06-03 02:28] ProfessorKaos64 commented on #3
I host packages for SteamOS, and just a few for Jessie at http://packages.libregeek.org. It shouldn't take much to spin up pbuilder chroot's for 16.04, Debian Jessie. The group would have to put for probably the 3 most popular debian distros, or just focus on the latest Ubuntu and Debian release. I don't have a build bot, but maybe someday :)

[2016-06-03 02:34] zzpxyx commented on #3
Note that antimicro doesn't use the normal way of organizing Qt projects. Particularly, there is no .pro file, so the [documentation](http://doc.qt.io/qt-5/linguist-manager.html) is not that helpful.

Here is what I do for Simplified Chinese translation. Suppose that the current folder is the antimicro project folder.

First, update the .ts file:
`lupdate src/ -ts share/antimicro/translation/antim

[2016-06-03 03:09] WAZAAAAA0 commented on #6
The wiki is broken. I guess you'll have to replace every instance of "Ryochan7" in URLs with "AntiMicro".

[2016-06-04 09:27] Papermanzero commented on #3
Can users already enter feature requests? I have some of the old request and I would transfer them in this project.
Btw. Thank you so much for the revival of AntiMicro.

[2016-06-04 11:43] mirh opened #14 "Fix wiki with proper links"

[2016-06-04 11:45] mirh commented on #14
Ok, duplicate of #6

[2016-06-04 11:45] #14 closed

[2016-06-04 23:42] jsbackus commented on #6
Yikes! Good catch! Sorry about that. I should have checked the links before patting myself on the back. I fixed the links for within the wiki. There are a couple of references I didn't fix, both of which are in the SteamOS section.

I'm going to close this, since the links work for me. Please open it up again if anyone has any issues.

[2016-06-04 23:42] #6 closed

[2016-06-05 00:00] jsbackus commented on #3
@ProfessorKaos64 Great! Thanks for doing this! Yes, for now we'll stick with the 16.04 and Jessie. We'll refer to your repo in the Readme and in the wiki.

@zzpxyx Thanks! Yes, very helpful! Yes, please put it in the wiki. Also, there appears to be an `updateqm` target in the Makefile. I don't think it uses `-no-obsolete`, because when I ran it, it appeared to clobber old translations. I'll update

[2016-06-05 00:02] jsbackus opened #15 "Update build system to preserve obsolete translations"
look at adding `-no-obsolete` to the call to `lrelease`. See @zzpxyx's comment in issue #3.

[2016-06-05 00:03] jsbackus commented on #1
Completed. Can't remember what day, though. :smile:

[2016-06-05 00:03] #1 closed

[2016-06-05 00:17] jsbackus opened #16 "Update about dialog"
Need to let translators know about update, once complete.

[2016-06-05 02:58] zzpxyx commented on #3
Just adding a minor comment in terms of the `-no-obsolete` argument. Personally I would use `lupdate` _without_ it in the first round. Sometimes there are minor changes on a very long string and keeping the old one will make it easier to copy and paste the old tranlsation. Then after translating with Qt Linguist, I'll run `lupdate` again _with_ `-no-obsolete` so that the .ts file is cleaned.

[2016-06-05 15:32] jsbackus commented on #5
Looks like the [qtx64](http://sourceforge.net/projects/qtx64/) project at SourceForge has been abandoned **and** files removed. There is a [qt64-NG](https://sourceforge.net/projects/qt64ng/) project that has been abandoned, but at least there is still an installer for Qt 5.5.0.

There is a [wiki](https://wiki.qt.io/MinGW-64-bit) page on the official Qt wiki for building with MinGW-64. It seems to

[2016-06-05 15:42] jsbackus commented on #3
@zzpxyx Ah! I understand now. Sorry, had things backwards. Thanks for the clarification! Yes, it looks like the build system is using `-no-obsolete` whenever `-DUPDATE_TRANSLATIONS=ON` is passed to cmake. Luckily, I didn't push my commits after doing that, so I'll back those changes out.

[2016-06-05 16:32] jsbackus commented on #3
I've updated the build system to allow preserving obsolete translations to hopefully mirror @zzpxyx's flow. I've added an additional variable to cmake, `TRANS_KEEP_OBSOLETE`, which will call lupdate without `-no-obsolete`. So, hopefully, translators can use the following flow:

1. `cmake -DUPDATE_TRANSLATIONS=ON -DTRANS_KEEP_OBSOLETE=ON`
2. `make updateqm`
3. Edit translation
4. `make updateqm`
5.

[2016-06-05 16:33] jsbackus commented on #15
First attempt made in afb62e5

[2016-06-07 03:53] zzpxyx commented on #3
@jsbackus Thanks for updating the build system!

I might have missed something here. Do we assume that those `cmake` and `make` commands are executed under the project root folder, or a manually created `build` folder?

I think that I was just talking about "how" previously, but didn't mention "why". Here is my understanding of the translation process and the "why":

1. In the .cpp source files, t

[2016-06-12 15:03] jsbackus commented on #16
Forgot to mark this complete. Completed in commit 770665f.

[2016-06-12 15:03] #16 closed

[2016-06-12 15:04] jsbackus commented on #13
Gah. Completely forgot about the cmake convention of `mkdir build; cd build; cmake ..`. No issue. Closing.

[2016-06-12 15:04] #13 closed

[2016-06-12 15:28] jsbackus commented on #3
@zzpxyx Sorry for taking so long to get back to you. Not nearly enough hours in the day. Thanks for the clarification! Yes, @Ryochan7 had automated parts of it. From what I was able to pick up from the build system and BuildOptions.md, the following flow was supported:

1. `cd antimicro`
2. `mkdir build; cd build`
3. `cmake -DUPDATE_TRANSLATIONS=ON ..; make updateqm`

This would execute `lupdate -

[2016-06-12 20:16] zzpxyx commented on #3
I think I found one workaround for the problem mentioned in my previous comment. The key is _not_ to install antimicro after the build. Just test with the executable `antimicro/build/bin/antimicro`. Previously, I thought there would be problems regarding profiles and configuration paths if I don't install antimicro, but actually it seems working well. It seems that the error I encountered only hap

[2016-06-12 23:37] jsbackus commented on #3
@zzpxyx Hmm.. interesting. Yeah, Changelog disappearing has bitten me too. I just figured I was doing something wrong. I suspect that the install target is moving Changelog instead of copying it. Line 739 in the CMakeLists.txt file in the project root looks suspicious. I'll look into it some more. Glad running from the build tree works. I was hoping it would, but had my doubts, too.

:+1: regardin

[2016-06-12 23:40] jsbackus commented on #15
@zzpxyx's idea in #3 regarding different Make targets seems to be better. Need to look closer at `share/antimicro/translations/CMakeLists.txt`. I suspect we can add the three targets @zzpxyx suggested there and remove the two CMake targets. We'll need to keep the QT4 vs. QT5 ladder, but otherwise should be able to simplify the logic.

[2016-06-12 23:49] jsbackus opened #17 "make install shouldn't wipe out Changelog."
Line 742 of the `CMakeLists.txt` file in the project root seems suspicious.

[2016-06-12 23:54] jsbackus commented on #17
Works. Closing.

[2016-06-12 23:54] #17 closed

[2016-06-12 23:54] jsbackus commented on #3
Yep, fixed the Changelog issue. See issue #17.

[2016-06-16 18:09] pythonimus opened #18 "Change set/profile on key combo"
Hi,

is there a function to change the set/profile manually with a button combo on the controller?

EDIT: An can I set 2 keys on one button? Like A = shift + left?

Thanks!

[2016-06-17 23:02] jsbackus commented on #18
Hi!
No, I don't believe there is a way to change profiles on the fly, however, you might be able to accomplish what you are trying to do with "Sets". Please see the wiki page on [Set Selection](https://github.com/AntiMicro/antimicro/wiki/Set-Selection).

Yes, you can combine keys. Please refer to the section on [Combinations](https://github.com/AntiMicro/antimicro/wiki/Advanced-Assignments#combina

[2016-06-17 23:03] jsbackus commented on #15
I looked at this some on Tuesday. Made a little progress, but it is complicated. I can see why @Ryochan7 did what he did...

[2016-06-17 23:17] jsbackus commented on #11
Need to add the following to the CMakeLists.txt file in share/antimicro/translations:
`set_directory_properties(PROPERTIES CLEAN_NO_CUSTOM true)`
See: https://cmake.org/Wiki/CMake:How_To_Build_Qt4_Software

[2016-06-17 23:35] jsbackus commented on #3
@zzpxyx Unfortunately, I don't think we can implement the make targets that you suggested easily. In my previous proposal, your `make tr_begin` and `make tr_test` steps were combined into a `make updateqm` when `-DTRANS_KEEP_OBSOLETE=ON`. The `make tr_end` step is accomplished by rerunning cmake without `-DTRANS_KEEP_OBSOLETE=ON` and then `make updateqm`. (this is all assuming you've built the bin

[2016-06-17 23:47] #11 closed

[2016-06-18 17:42] zzpxyx commented on #3
@jsbackus I think it's fine not to implement it. I tried the above workflow but I found an issue. I think CMake has a cache or something, so the `TRANS_KEEP_OBSOLETE` parameter is still set to `ON` when doing the second part (complete work) steps. As a result, obsolete strings are not purged.

I tried CMake with turning `TRANS_KEEP_OBSOLETE` off, but surprisingly it wiped out all translated string

[2016-06-18 22:35] jsbackus commented on #3
@zzpxyx :confounded: The more I use CMake, the less I like it... Argh. Sounds like the last step may involve removing the build directory before rerunning cmake. hmmm...

[2016-06-18 22:45] zzpxyx commented on #3
@jsbackus Sure. Maybe it's better to use `lupdate` and `lrelease` directly as before. They never let me down.

[2016-06-19 00:10] jsbackus commented on #3
@zzpxyx Sounds like a good idea. I've removed the ability to use `-no-obsolete` from the build system to prevent accidents. I've also created an empty [wiki](https://github.com/AntiMicro/antimicro/wiki/Translating-AntiMicro) page for us to incorporate information on adding translations. Please feel free to edit as you like. I'll try to add what little I know to the page, too.

[2016-06-19 00:11] jsbackus commented on #12
Changelog was updated in 385d3c4e. Waiting on rev'ing the software number until actual release.

[2016-06-19 00:12] jsbackus commented on #15
Bailing on this for now. Will revisit at a later date.

[2016-06-19 00:16] jsbackus commented on #3
I've finished updating the Changelog. So we are just waiting on any updated translations before releasing. I have the following list:
* @zzpxyx Chinese
* @7185 French
* @WAZAAAAA0 Italian

Have I missed anyone?

[2016-06-19 03:53] zzpxyx commented on #3
@jsbackus Thanks! I've populated the wiki page with things that I can think of. I also added a link for it on the home page. Feel free to edit them!

[2016-06-19 16:40] WAZAAAAA0 opened #20 "Italian translation files"
Here's my Italian translation for antimicro. It's the second most complete translation available (the Chinese one being the first, mad props to @zzpxyx, it was helpful)

http://www.mediafire.com/download/n7odcalacppigv4/antimicro_it.zip
Uploaded as an external link because I'm not sure if a commit to "share\antimicro\translations" would suffice. Contains both the .TS and .QM files.

Qt Linguist ha

[2016-06-19 16:44] WAZAAAAA0 commented on #3
@jsbackus Just opened an issue about it https://github.com/AntiMicro/antimicro/issues/20

[2016-06-19 23:10] Nucleoprotein commented on #5
You can download Qt from official site https://www.qt.io/download-open-source but x64 build are available only for Visual Studio compilers.

[2016-06-21 02:48] zzpxyx commented on #20
I think adding a new language requires some chagnes in the build system as well as in the source code. I just cannot remember exactly where they are. I can experiment with it later.

In terms of accelerators, we add trailing parantheses in Chinese tranlsation. For example, a menu item "&About" would be translated as "## (&A)“, where "##" is the translated Chinese word.

[2016-06-21 23:01] jsbackus commented on #5
@Nucleoprotein Thanks! That is what I was afraid of. For the time being, I'd like to stick with the MinGW build. If there is a compelling reason to build a 64bit version for Windows, we may revisit this.

[2016-06-21 23:04] jsbackus commented on #3
@zzpxyx Very nice work! Thanks!

@WAZAAAAA0 Thanks! Very helpful to me to keep track of things. :smile:

[2016-06-21 23:32] jsbackus commented on #20
@WAZAAAAA0 Great! Thanks! I've added in your initial translation. I've also credited you in the README and the About dialog. Would you please glance at them and make sure I formatted it properly? As for the special characters, interesting. I *think* they're ok and are probably just encoded in whatever format HTML uses (can't remember the name at the moment..) I would say that as long as Qt Linguis

[2016-06-22 00:31] jsbackus commented on #20
Ok.. I think I have a working Windows installer. I at least didn't get complaints about using `*` for the Guid, as per the documentation. @WAZAAAAA0, you are welcome to try the installer [here](https://www.dropbox.com/s/ereu433dg10u7hr/antimicro-7f4be52a2.msi?dl=0), if you have Windows and the interest.

[2016-06-22 02:16] WAZAAAAA0 commented on #20
The credits are cool.

No accelerators seems fine to me, I've never ever met in my life anyone that knows about their existence, and I've never used them myself either. I've never seen accelerators being put between parenthesis in both English and Italian, so whatever.

But I do want to do a minor change to these lines in my translation:
«translation»A una direzione«/translation»
«translation»A du

[2016-06-23 04:18] zzpxyx commented on #20
I've just done a quick search. It seems that we need to modify `mainsettingsdialog.cpp` and `mainsettingsdialog.ui` to make Italian translation selectable in the list. I can probably experiment more and submit a patch for this later this weekend.

[2016-06-26 14:38] ooGEoo opened #21 "Request: XInput to DInput mapping"
Hello,
I use four XBOX 360 controllers and I'm having troubles with the direct input IDs.
For example is controller 1 at direct input controller 3 and I can't find a real solution.
The JoyIds program solves my problems only partially. XInput Plus doesn't work either.
Now I want to ask, if it's possible that you add Direct Input mapping e.g. "Xinput A-button" to "Joy1 button 1".

Thank you.

[2016-06-26 14:42] jsbackus opened #22 "Controllers being listed twice"
Happening at least on Windows version. Suspect it is related to SDL 2.0.4 and fix for issue #4. First step is to back the change out and rebuild with SDL 2.0.3 and retest.

[2016-06-26 14:44] jsbackus commented on #20
@zzpxyx Thanks for tracking that down! Yes, if you would please, that would be very helpful.

@WAZAAAAA0 Thanks for testing and making notes! I was holding off on updating the version number until the official release, but that does raise a good point that when I do, I need to make sure it gets updated everywhere. As for the controller being listed twice, I suspect that is related to SDL and the f

[2016-06-26 14:46] jsbackus commented on #21
Hi! Yes, I can see how that would be confusing. I'm still coming up to speed on the details of XInput vs. DInput. I will look into this when I get a chance.

[2016-06-26 14:51] jsbackus opened #23 "Update docs re: Debian repo"
See @ProfessorKaos64's comment in #3.

[2016-06-26 15:01] jsbackus opened #24 "Running on OSX / macOS"
This has come up in e-mail, so I thought I'd document it for the future. Currently, there are no plans to support AntiMicro on OSX. I currently, don't have the hardware or the time. _However_, if someone would like to take this on, it would be a welcomed addition. AntiMicro should mostly compile and work on OSX. SDL and Qt both have a OSX ports. The primary issue that I can foresee is that the cod

[2016-06-29 13:20] slacknk opened #26 "AntiMicro > 2.20.2 segfaults on Slackware >= 14.1"
Last version that works - 2.20.2. I've tried both 2.21 and git current but I'm getting segmentation fault with the same stacktrace:

[code]
### slackware32-14.1 and qt4(-4.8.7):

[code]

[code]

[code]
[code]
[code]

### slackware64-current and  qt5(-5.6.1):

[code]
[code]

[2016-07-02 02:15] jsbackus commented on #26
Thanks for reporting this! Hmm.. Does it segfault immediately on startup? And just to be clear, by "git current" you mean latest in master (as opposed to downloading a release)?

[2016-07-02 02:47] jsbackus commented on #22
Hi @WAZAAAAA0, would you please try the installer found [here](https://www.dropbox.com/s/ecp1yqcngcn1axm/antimicro-f56788f.msi?dl=0)? It reverts back to SDL 2.0.3, which will hopefully fix the double-controllers issue. Also, please check that I correctly made the translation changes you requested. Thanks!

[2016-07-02 02:53] jsbackus commented on #18
Haven't heard anything back, so I'm assuming everything is cool. Closing...

[2016-07-02 02:53] #18 closed

[2016-07-02 10:21] slacknk commented on #26
immediately

This segfault since Ryochan7/antimicro version 2.21 (on slackware). I've tried to build 2.21 by hands: it's also failed, but version 2.20.2 of antimicro works.

My SlackBuild for Make the package:
https://github.com/slacknk/slackware/blob/master/slackbuilds/_games/antimicro/antimicro.SlackBuild

[2016-07-02 12:53] jsbackus commented on #26
Thanks!

Very helpful! I don't see any problems in your SlackBuild... I'll try installing 14.2 in a VM and see if I can track it down...

Not a problem! I apologize for not having very much time to work on this. It may take a little while for me to track this down. Thanks for such a detailed bug report. :smile:

[2016-07-02 13:50] jsbackus commented on #26
You know, I don't think I've used Slack since the kernel was at 2.2. Brings back memories. ... and wow, Fedora has really spoiled me! :innocent:

[2016-07-04 13:08] jsbackus commented on #20
Hi @WAZAAAAA0, would you please try the installer found [here](https://www.dropbox.com/s/ecp1yqcngcn1axm/antimicro-f56788f.msi?dl=0)? It reverts back to SDL 2.0.3, which will hopefully fix the double-controllers issue. Also, please check that I correctly made the translation changes you requested. Thanks!

[2016-07-04 16:52] jsbackus commented on #26
Good news - I'm able to reproduce it in a VM with slackware 14.2 32bit. Trying to track down the commit that broke things...

[2016-07-04 18:22] jsbackus commented on #26
Looks like the problem was introduced in commit 05413d0...

[2016-07-04 21:35] jsbackus commented on #26
Looks like issues are in `src/common.h` and `src/common.cpp`. @Ryochan7 converted them from const QString to extern QString. Not sure why... hmm...

[2016-07-04 22:28] jsbackus commented on #26
Hi, @slacknk. I think I have a fix. Would you please try the dev branch? i.e. change line 140 of your SlackBuild to use `origin/dev` instead of `origin/master`. (This is temporary, you'll want to change it back after we're done). Thanks!

[2016-07-04 22:37] jsbackus commented on #22
According to @mrtnkl, reverting to SDL 2.0.3 doesn't fix the 2x controller issue, at least under win10...

@mrtnkl, would you please try the following:
* With the f56788f version, do any of the tabs work? i.e. do any of the tabs respond to button presses on the controller(s)?
* Please install version [7f4be52a2](https://www.dropbox.com/s/ereu433dg10u7hr/antimicro-7f4be52a2.msi?dl=0).
  * Do you se

[2016-07-04 23:02] slacknk commented on #26
Thx, it's works. Tried to build and started on slackware32-14.2 (upgrated 14.1) - I've tried to build origin/dev of antimicro works. And tried to build with qt4 and 5.

Hmm, maybe for first time created and shared patches for slackware (qt_slack)?..

[2016-07-05 17:25] WAZAAAAA0 commented on #22
Let's see...

f56788f:
1. both the Spanish and Italian translations (which are post-Ryochan7-demise) still have the copyright problem: "Copyright: 2013 - 2016 {2013 ?}"
2. the version still says 2.21 but you addressed this in a previous message saying it will be updated everywhere
3. double controller detection still happens
4. About the languages list: the word "Spanish" should be displayed as "E

[2016-07-06 19:29] mrtnkl commented on #22
Hi, with the original build you sent me, I get 4 tabs (and only 1 controller detected by Windows):
![4tabs](https://cloud.githubusercontent.com/assets/33194/16631669/7cc36e92-43c0-11e6-8653-f033584b0476.jpg)

Only tab 3 actually allows controller mapping, tab 1 and 2 don't detect any presses or axis.
![tab3works](https://cloud.githubusercontent.com/assets/33194/16631668/7cc1b598-43c0-11e6-896f-1ca

[2016-07-06 20:45] mrtnkl commented on #22
Okay, this is odd. When I started 7f4be52 it got 4 controllers as well. But now, it ... works.

I rebooted the device, started antimicro first - it said "no controllers", then I enabled the controller. It got detected by Windows and immediately by AntiMicro and only showed 1 tab! This is 7f4be52.

I mapped the keys, loaded up my Oblivion mapping and everything works. 100%.

Odd that I can't reprod

[2016-07-08 01:34] ymmtmdk commented on #24
Hi, I'm working on supporting to OSX recently.
It needs many work yet, but can compile and run basic mouse/keyborad features.

repository:
https://github.com/ymmtmdk/antimicro/tree/osx

diff:
https://github.com/ymmtmdk/antimicro/commit/a0cd6c4e3704df03ccde975f7c84e9ee01695902

build instractions:
[code]

[2016-07-09 13:18] jsbackus commented on #26
@slacknk Great! I'm so glad it works!

Yes, `origin/master` will contain the latest stable but unreleased and `origin/dev` will contain the latest work that may not work.

Thanks again for all of your help!

[2016-07-09 13:18] #26 closed

[2016-07-09 13:33] jsbackus commented on #12
Need to also make sure copyright is up to date. 2015 is listed in a number of places. See https://github.com/AntiMicro/antimicro/issues/22#issuecomment-230544800.

[2016-07-09 13:34] jsbackus commented on #12
Need to also update Changelog with recent changes...

[2016-07-09 13:36] jsbackus opened #27 "Change language selection to use properly translated names"
Current setup requires user to know the English translation of their language. Need to translate to proper translation a-la Wikipedia, etc. See https://github.com/AntiMicro/antimicro/issues/22#issuecomment-230544800.

[2016-07-09 13:43] jsbackus commented on #22
@WAZAAAAA0 Thanks for testing! Yes, I think you're right, the change is likely on our end and not with the SDL. I can't seem to find any bug reports relating to this with the SDL project. Does anyone know of a version that definitely worked? The more recent the better. If it is on our end, then there is hope that I can get it to show up on my end and try to track it down. Just to clarify, what ver

[2016-07-09 13:48] jsbackus commented on #24
@ymmtmdk **Thanks!** Great work! Please keep us updated on your progress and let us know if there is any way we can help. I want to wait until you have a more complete port before merging into the mainline. I skimmed what you have so far and it looks good. I'll try to take a closer look when I have a chance. Thanks again for all your hard work!

[2016-07-09 17:33] WAZAAAAA0 commented on #22
@jsbackus
The most recent and "most working" version of AntiMicro, at least on Windows, is 2.21 with SDL2.dll being downgraded from 2.0.4 to 2.0.3 ( maybe instead of downgrading, applying this commit would work too https://github.com/AntiMicro/antimicro/commit/5447bfed9bedb72b7af5349746f4fd828c534f8c ), which is the one offered in the releases section. I'm running Windows 7 Ultimate 64-bit SP1.

U

[2016-07-16 14:37] jsbackus opened #28 "AntiMicro under Wine"
The Windows version of AntiMicro more or less works under wine with one exception: due to a bug? deficiency? in how Wine handles controllers, each controller will get listed twice - once with (js) inserted into the name and once with (event) inserted into the name. More information can be found [here](https://www.reddit.com/r/linux_gaming/comments/3sz0wf/using_sdl2_gamepad_mappings_for_wine/) (see

[2016-07-16 14:52] jsbackus commented on #22
@WAZAAAAA0 Thanks! I've been able to replicate the issue in Wine (excusing this issue: #28), so I should be able to track it down.

Good catch! That aught to help narrow down where the issue is. Plus, it gives us a temporary workaround. Agreed, definitely needs to be fixed.

Glad the language defaults to the current system language.

[2016-07-16 22:51] jsbackus commented on #22
Looks like the issue was introduced in commit fd34684. It appears that @Ryochan7 was attempting to clean up the code responsible for adding joysticks. Luckily, he has good version control habits and the commit is very succinct. Shouldn't be too difficult to debug. :relieved:

[2016-07-19 14:33] WAZAAAAA0 commented on #3
@jsbackus is right now the sole "AntiMicro member" of the organization. What happens to the repository should he suddenly disappear for some reason... I guess it would become impossible to edit? I believe we need more members with write/admin just to be safe.

[2016-07-19 21:58] notklaatu commented on #28
To be clear:
1. start antimicro on Linux
2. start the game you want to play in WINE
3. use the game controller as usual

(i.e., the controls get passed through Linux into Wine; no need to run antimicro IN Wine)

[2016-07-21 00:12] jsbackus commented on #28
Yep!

[2016-07-21 01:02] jsbackus commented on #3
@WAZAAAAA0 Agreed. I don't have any interest in being the sole person with the keys, though @zzpxyx does have commit rights. Just waiting on people to e-mail me and ask. :smile: I don't mind giving access to anyone who is active and participating.

Which brings up another point: hopefully others are keeping local copies of the main repo and the [wiki](https://help.github.com/articles/adding-and-ed

[2016-07-21 12:37] usagi2607 opened #29 "Some questions about the program"
Hi jsbackus,

First of all, thank you for the very useful software. This helps me a lot in customizing my Xbox controller and other Xiput devices.
I got a couple questions while using antimicro:
- RT/LT axis hold & release: I notice that the dead zone slider determines how the (mapped) key is triggered (hold/release). I often find myself not always press or release the trigger in the same way (som

[2016-07-23 17:58] anewuser opened #30 ""jessie" x64 installer works on Ubuntu 16.04 (xenial)"
Just as a note, I used the latest "Debian jessie" x64 installer and it worked on Ubuntu 16.04.  Do you really need to have so many packages though? That makes it harder for users to know what to download.

[2016-07-23 18:00] anewuser opened #31 "Help -> "Github page" links to the old repository"
Help -> "Github page" links to the old deleted repository instead of this one.

Version: antimicro_2.21-1.jessie_amd64.deb

[2016-07-24 05:31] fr500 commented on #22
I know this is totally unrelated but I notice the same issue (duplicate inputs and duplicate controllers listed for my XBOX elite controller on Steam BP)

I noticed they upgraded SDL2 to 2.0.4 too...

[2016-07-24 22:23] jsbackus commented on #22
Hey folks, sorry it has taken so long to get back to this. I have a couple of test cases if you would be so kind as to try them for me:
* [antimicro-93099d0.msi](https://www.dropbox.com/s/sab7yv0vuh6sjsd/antimicro-93099d0.msi?dl=0)
* [antimicro-cf500290.msi](https://www.dropbox.com/s/nlqgs4du5xsbelb/antimicro-cf500290.msi?dl=0)

At least one of these should work. Hopefully both will. Thanks!

[2016-07-24 22:24] jsbackus commented on #22
@fr500 Interesting! Hope we don't have two problems to track down... Thanks for letting us know!

[2016-07-24 22:26] jsbackus commented on #31
Thanks for reporting this. Unfortunately, we haven't had an official release since we moved. I was hoping to get one out some time ago, but we've been squashing bugs. We should have one out shortly with fixes and updated URLs. Thanks again!

[2016-07-24 22:26] #31 closed

[2016-07-24 22:30] jsbackus commented on #30
Thanks! Agreed. My preference is that we only distribute source, windows binaries, and mac binaries (if we ever officially support macs), and instead all Linux binaries are distributed via official repositories. Once we have a 2.22 release ready, we have a volunteer who has a Debian-esque repository and that is where you will be able to find binaries for Debian and derivatives. Not there yet. :smi

[2016-07-24 22:30] #30 closed

[2016-07-24 23:00] jsbackus commented on #20
Hi @WAZAAAAA0, I think we have the Italian translation updated, correct? Mind if I close this? Thanks!

[2016-07-24 23:14] jsbackus commented on #29
Hi @usagi2607! Glad you're enjoying the software! All thanks goes to @Ryochan7 - I'm just one of the folks trying to keep the project alive since he has moved on to other things. I'll try to answer your questions as best I can, though I am still learning the code.
1. I suspect that the answer is no, though I do not know for sure. Are you using using the RT/LT axes for a fairly binary operation? i.

[2016-07-25 09:53] usagi2607 commented on #29
Hi jsbackus,

Thank you for your answer.
1. Yes, likes a mouse click, an action is registered when the mouse is pressed and won't do anything until it is released.
2. Seems like the turbo option is disabled automatically when the "hold" assignment is present. So, I guess that is why it does not work.
3. That's what I thought too. Though, I was able to use x360ce to disable the xinput by emptying a

[2016-07-25 20:35] WAZAAAAA0 commented on #29
3. Someone already suggested this in the old repository, it's an interesting feature but the main developer probably (can't remember clearly) thought it was kinda intrusive and wasn't sure on how to implement it.
Pinnacle Game Profiler seems to have a function called "Block game from reading the controller with native support" but unfortunately it's not open source and last time I tried it, it did

[2016-07-25 21:21] WAZAAAAA0 commented on #20
BEAT YOU TO IT

[2016-07-25 21:21] #20 closed

[2016-07-25 21:24] WAZAAAAA0 commented on #22
Both 93099d0 and cf500290 have solved the double controller listing.

[2016-07-26 01:08] jsbackus opened #32 "Revisit refreshJoystics() and addInputDevice()"
Had to back out changes to InputDaemon::addInputDevice() introduced in fd34684 because they caused issue #22. Don't fully understand why. Plus, there appears to be a lot of reused code. Should look into trying to combine the two. Perhaps refreshJoystics() could call addInputDevice()? Anyway, question for a future time. Changes introduced in fd34684 can be switched in and out with precompiler direc

[2016-07-26 01:09] jsbackus commented on #22
Great! Thanks for testing! I'll try to take care of the few small loose ends we have and we'll try to release next weekend. Thanks again!

[2016-07-26 01:09] #22 closed

[2016-07-26 02:01] jsbackus commented on #27
Wikipedia and I somehow managed to come up with translations for each language. We'll address any issues as the come up. Closing for now.

[2016-07-26 02:01] #27 closed

[2016-07-26 02:04] jsbackus commented on #20
hah!  :stuck_out_tongue_closed_eyes:

[2016-07-30 15:09] jsbackus opened #33 "Change trigger threshold to be a delta instead of an absolute"
Current implementation uses an absolute threshold, which can cause problems for those of us with 'lazy trigger finger'. A delta threshold would better accommodate this. Should we make this an additional option (i.e. absolute + delta) or a change (absolute :arrow_right: delta)? Hmm...

[2016-07-30 15:12] jsbackus opened #34 "Add a "hold + turbo" button option"
Currently, turbo is disabled if the user specifies a hold assignment. Extend hold to allow turbo if held for an extended period of time.

See comments in #29.

[2016-07-30 15:19] jsbackus commented on #29
Argh! Just realized that GH doesn't handle ordered lists properly. Sorry for the list of 1's. :angel:

Hi @usagi2607,
1. Hmm.. Yes, it sounds like the triggers should actually have a delta threshold instead of an absolute threshold. I've created issue #33 to track this as a possible feature in a future release.
2. Yes, I suspect so. Might be worth considering a "hold + turbo" option. I've created

[2016-07-30 15:34] jsbackus commented on #23
Completed in eee5a9366.

[2016-07-30 15:34] #23 closed

[2016-07-30 16:07] #12 closed

[2016-07-30 16:09] jsbackus opened #35 "Clean up all compile warnings"
Getting quite a few of these from `ui` files:

[2016-07-30 16:12] jsbackus opened #36 "Clean up build tasks"
Specifically, I want:
- a simple build target for building the MSI
- a simple build target for generating the Windows portable zip.

There is already a buildmsi step, so I probably just need to adjust its dependencies. The portable target should only be available when -DPORTABLE_PACKAGE=ON was specified. Is this possible with CMake?

[2016-07-30 18:41] slacknk commented on #26
@jsbackus , hi, i'm about https://github.com/AntiMicro/antimicro/commit/6f241c9b9fa4e884f48ce3882db664883270865f
maintainer from _SBo is not I'm, maybe in README.md:
 "AntiMicro is currently available for SlackWare via SlackBuilds, thanks to NK and Klaatu"

[2016-07-30 19:42] jsbackus commented on #3
We finally did it! Version 2.22 released this morning. Windows binaries are available now. An update for Fedora is in the works and should be available through the official repository soon. @ProfessorKaos64 , @slacknk, would you please generate Debian and Slack updates? Thanks!

Thanks to everyone for their hard work in rebuilding the repo and wiki and getting us to release!

[2016-07-30 20:27] ProfessorKaos64 commented on #3
WIll do. How can I attach them to the release, or should I just point you to my package pool?

[2016-07-30 20:29] slacknk commented on #3
@jsbackus https://github.com/AntiMicro/antimicro/issues/26#issuecomment-236382204
(about slackware)

[2016-07-30 20:30] 7185 commented on #3
Congratulations on the release!
Sadly I don't have the time to work on the French translation improvements, but it's still on my todo list if nobody else submits a PR before me :smile:
I just updated the package template for Void Linux, so this new version is already available there.
Thank you everyone! :tada:

[2016-07-30 21:23] jsbackus commented on #26
@slacknk Whoops! Thanks for the correction! I've updated the README. My apologies!

[2016-07-30 21:27] jsbackus commented on #3
@ProfessorKaos64 Thanks! My preference is to point to your package pool, if that is ok. I added a comment in the README. Please let me know if that needs to be corrected.

@slacknk Thanks! I've updated the README and left additional comments in #26.

@7185 Thanks! No worries, I can completely relate. :smile:  Please submit a PR when you do have time. Thanks for updating the template for Void! If t

[2016-07-30 22:36] ProfessorKaos64 commented on #3
[Debian Jessie](http://packages.libregeek.org/debian/pool/main/a/antimicro/) and [SteamOS](http://packages.libregeek.org/steamos-tools/pool/main/a/antimicro/) builds are live. Existing package methods still worked as before. Launched program to verify version etc. Good job adding some bits, like the about page note on current development.

[2016-07-30 22:48] slacknk commented on #26
Thx) Ok, But one moments maybe without

Now i'm know is not full commands for install for antimico require: SDL2
...without this commands, or

or just, w/o

[2016-07-31 00:11] jsbackus commented on #3
@ProfessorKaos64 Thanks so much!

Since we have a successful release, I'm going to go ahead and close this thread. Hopefully the conversation doesn't stop here. Please feel free to open new issues!

[2016-07-31 00:11] #3 closed

[2016-07-31 00:13] jsbackus commented on #26
@slacknk ah, yes, good point. Yes, we would need the command for a full install. I think you're right, we might be better off with just the link. I've updated the README again. Would you please check it? Thanks!

[2016-07-31 00:29] slacknk commented on #26
check, allright
and thanks for release and continued dev

[2016-07-31 00:51] slacknk commented on #26
oh, not about slackware. In Desc:

Next time, maybe this is in Download section,
or w/o Win, only about FreeBSD http://www.freshports.org/x11/antimicro/

[2016-07-31 03:53] qyot27 opened #37 "AntiMicro isn't loading the last profile when "Load on Windows Start" is checked."
More specifically, the problem is that Qt5 (since 5.3) defaults to enabling SSE2 on 32-bit, and this is how the official Windows DLLs are distributed.  It can be turned off when Qt5 is being built.  A set of the correct Qt5.6 libs built without SSE2 should be all that's needed (it was all that was needed on the older builds too, but I was able to actually track down a set of the right libs; attemp

[2016-08-05 00:05] Rikitik opened #38 "Feauture: Switch Profiles with a Keyboard Hotkey(keybound Profiles)"
It would be great to see this feature or maybe i'm missing something.
It's quite inconvenient to minimize a game to switch a Profile also i have come accross Situations where one Game would benefit from multiple profiles (due to limited gamepad buttons)
Switching Profiles with a Keybind would be a really welcomed feature if it's not too much to add

[2016-08-09 20:44] Ainson opened #39 "Auto Profiles not working in Steam"
Seems Antimicro can't recognize programs started via Steam as profiles don't change even when set properly in Auto Profiles.

Maybe because the programs are a sub-process of the parent Steam.exe, and as such, Antimicro can't see them initiating?

PS. Big thanks to you who are keeping Antimicro alive. Appreciated.

[2016-08-09 21:31] jsbackus commented on #26
@slacknk Ooooh. Good point. That FreeBSD version is quite out of date and the homepage needs updated. I'll e-mail them. Thanks!

[2016-08-09 21:36] jsbackus commented on #37
Hi @qyot27! Sorry for taking so long to get back to you - not enough hours in the day. Interesting! Yes, I'd wondered about the installers with noSSE in the name. I'll see if I can track down 5.6 libs with SSE2 disabled. Otherwise, I'll try to find a pre-5.3 version. Likely go with the last 4.8 build, unless there are any objections. It will be a week or so before I can look at this, but then we'l

[2016-08-09 21:38] jsbackus commented on #27
@WAZAAAAA0 Interesting! I wonder what is special about the "English" field that is causing it to be translated but not the others.... I'll have to look into it.

re: broken copyright field, I thought I'd updated all of the translations by hand. Hmm.. I'll take another look at it. Thanks!

[2016-08-09 21:42] jsbackus commented on #38
@Rikitik By keybind, do you mean button on the gamepad or via keyboard? You might be able to accomplish what you are looking for with [set selections](https://github.com/AntiMicro/antimicro/wiki/Set-Selection).

[2016-08-09 21:47] jsbackus commented on #39
Hi @Ainson, welcome! Glad it is appreciated! Interesting... That would be my guess, but I'm not familiar enough with the autodetection code. I'll take a look at it when I get a chance. What programs have you tried?

[2016-08-10 02:33] qyot27 commented on #37
It's a (1GHz) Coppermine-128 that's been chugging along faithfully for nearly 15 years.  It had been my main setup until late last year, and now mostly serves as a hub for data storage and optical disc authoring.  It's dual-booted between Windows XP (since I'd rather not try to shoehorn Windows 7 into running on here) and Ubuntu 16.04.  Ubuntu could run new builds of AntiMicro without issue since

[2016-08-10 08:47] Ainson commented on #39
Hi @jsbackus, thanks for the welcome and looking at the issue.

I've tried several programs like Hitman (1-4), Call of Duty MW3, Return to Castle Wolfenstein, You Don't Know Jack, 8BitBoy. Basically all my Steam games without controller support.

Looking at my PC's processes using System Explorer, I can see those games as 'child' processes under the Steam.exe tree.

[2016-08-10 19:57] sapo420 opened #40 "Help with toggle a loop of keystrokes"
Hi, very nice program tbh, it is really helpful but I can't seem to do what I did in other programs, wich is:

Press joypad UP one time and get as result a LOOP of:
(Toggle ON) "W" > delay x.xx > "A" > delayx.xx = WA (over and over again until I press joy UP one more time)

What I actually get is "WAAAAA..." instead of "WAWAWA...", I tried cycle, hold, release... everything. I think I'm missing so

[2016-08-10 20:23] sapo420 commented on #40
Well... I needed to Toggle ON and sum my sequence's total time then put the turbo on and set it to turbo press my assignmets +0.50 i.e.:

Assignment:
Set Toggle ON.
JOY UP: [ W(0.10s) > delay(0.10s) > A(0.10s) > delay(0.10s) ] = 0.40s of duration
Set Turbo ON: Delay of 0.50s or above
Result: Looping WA until I press JOY UP again

I will leave this topic closed but won't delete 'cause there is no e

[2016-08-10 20:23] #40 closed

[2016-08-15 23:45] jsbackus commented on #37
:astonished: *that* is amazing! Every eMachines I ever came across died within a couple of years.

I spent some time on it this weekend, but ran into some syntax that MinGW 4.9.2 could handle but 4.8 (that ships with Qt 5.2.1) didn't like. I don't think I like it either (don't believe it is doing what the original developer intended). Working on getting something to compile, then I'll send you a t

[2016-08-15 23:47] jsbackus commented on #40
Hi @sapo420, sorry for just now responding. So it sounds like this is working for you?

[2016-08-15 23:48] jsbackus commented on #39
Hi @Ainson, interesting. Yeah, sounds like a Steam<->AntiMicro issue, not specific to any of the games. I'll take a closer look at the autodetection code when I get a chance.

[2016-08-16 01:42] jsbackus commented on #37
Ah-hah! Managed to get it to compile. When you get a chance, would you try the portable version
[here](https://www.dropbox.com/s/d9z8px8b8yo6jd4/antimicro-2.22_portable_nosse_experiment.zip?dl=0)? Thanks!

[2016-08-16 03:40] qyot27 commented on #37
It's a mixed bag.

No, it doesn't automatically crash due to not having SSE2.  That's a plus.  But:
A) Keyboard navigation cannot execute the button commands in the main window.  As much I hit Enter while the Load button was highlighted, no dialog opened.  Plugged in a spare USB mouse I had and used that to click the button, the dialog opened right up.

B) The joystick is listed twice in the selec

[2016-08-16 21:50] Ainson commented on #39
Great

[2016-08-18 12:18] ssokolow commented on #28
due to a bug? deficiency? in how Wine handles controllers, each controller will get listed twice - once with (js) inserted into the name and once with (event) inserted into the name.

Neither bug nor deficiency. The Linux kernel exposes each joystick through two APIs:

1. The joydev `/dev/input/jsX` API, which has calibration but is being phased out.
2. The evdev `/dev/input/eventX` API, which was

[2016-08-22 23:16] jsbackus commented on #37
Hmmm.. Interesting. Yeah, I hope these issues are related to Qt 5.2. :smile:

I *think* I've managed to build Qt 5.4.2, although I forgot build and install ICU, so I'll have to redo that. The configure tool says that SSE and SSE2 are disabled, however, I saw the sse2 switch scroll past at times. So I'd like to try this out (assuming I can get AntiMicro to build with it), before I try getting it to

[2016-08-22 23:21] jsbackus commented on #28
@ssokolow Interesting! Yes, that makes sense. Hmm.. Sounds like we should probably add a calibration feature, at least on Linux. Do you know if OSX or the BSDs have the same issue? And specifically, you're referring to the "push stick left and click, now push right and click, etc" type of calibration?

And yes, I've had to go a few rounds with Pulse... Argh...

[2016-08-22 23:37] ssokolow commented on #28
Unfortunately, I've never used OSX and my only experience with BSD-family OSes is for putting together DIY network hardware.

As for the calibration, "push stick left..." would be the bare minimum. (As-is, for example, my Saitek Cyborg 3D USB Gold can't be used in Strike Suit Zero because it mis-positions the center point on various axes. (The worst case being the rudder/"twist the stick" axis, wh

[2016-08-23 00:31] jsbackus commented on #37
Welp, looks like I was able to get a build completed more quickly than I thought. Please try the version [here](https://www.dropbox.com/s/ga03qyi2nb4lcv0/antimicro.nosse.qt5.4.2.exp2.zip?dl=0). Also, since I didn't compile in international support, please make sure your system is set to English first, if that isn't too much trouble. Thanks!

[2016-08-23 00:34] jsbackus commented on #28
Interesting! Yes, I can see how that would be helpful. Shouldn't be too hard, from a technical perspective. The tricky part is getting a dialog that covers all of the bases. :smiley:

[2016-08-23 03:44] qyot27 commented on #37
Nope, the new test build crashes on startup.

[2016-08-26 11:51] mihawk90 opened #41 "Action Names for Trigger Buttons"
Hello :)

Currently trying antimicro again after I haven't used it in a while and noticed there seems to be no way of naming Actions for Trigger buttons. It's possible to rename the triggers itself, but then they are for all sets. I want to give action names like they are possible for every other button.

Did I miss something or is it just not possible?

[2016-08-27 11:47] jsbackus commented on #37
Thanks. [Here's](https://www.dropbox.com/s/rszp6bey74o5oyj/antimicro.nosse.qt5.4.2.exp3.zip?dl=0) a new one. I think I found the right switches this time. I disabled everything from SSE through AVX, just in case there was an issue with the config logic. Still no ICU support and JPEG *may* not work. I expect it to otherwise function.

[2016-08-27 19:30] qyot27 commented on #37
It runs.  Problems B and C that I detailed earlier (the joystick getting listed twice and Hide causing the program to crash) are gone, but A (the keyboard doesn't have an effect on the Load button* in the main screen, though it can be used to navigate the menu bar and its subdialogs without a hitch) is still an issue.  I had to use the spare USB mouse again to get the profile selection dialog to c

[2016-08-28 22:53] jsbackus commented on #37
Great! With regard to B, I think I built the wrong version earlier, so glad it cleared up. C is probably related to the Qt version, as you suggested. I'll work on rebuilding Qt with ICU support.

I'll try to repeat A on my end. I wonder if something got goobered between 2.21 and 2.22. It was working for you with 2.21, correct?

[2016-08-28 22:55] jsbackus commented on #41
hi!

Hmm.. Unfortunately, I'm still coming up to speed with the code. I'll take a look at it.

[2016-08-29 02:06] qyot27 commented on #37
At this point I'm not really sure.  It *may* have been an issue even before the switch and I never noticed it due to not routinely needing to do so (what with antimicro launching at startup and loading the last used profile).  I even started to worry that a recent registry corruption I had to solve by forcing a repair operation might have been a factor in why some keystrokes no longer work in some

[2016-08-29 02:47] jsbackus commented on #37
I can confirm that hitting [ENTER] does not activate a button. However, [SPACE] seems to work. I got these results in 2.21 and 2.22. My suspicion is that Qt changed default behavior somewhere along the way. Maybe the jump from 4 to 5? Regardless, would it be sufficient to get Qt working with ICU?

[2016-08-29 05:20] qyot27 commented on #37
I'm not the one to ask about that, really.  I don't *personally* have any need for internationalization, even though I know that's not really something a project that supports it in every other case can just omit.

[2016-09-01 09:47] D14RAP opened #42 "On/Off Switch"
Was wondering if its possible to map a switch so the key is pressed once when its on the on position and off position

[2016-09-01 23:53] jsbackus commented on #37
Glad it won't impact you. If it isn't too hard to get working, then my preference is to go ahead and include it. If it is too much trouble, then I'll just skip it. Hope to have an official release for you this weekend.

[2016-09-02 00:22] jsbackus commented on #42
Hmmm.. To make sure I understand, say you have button 1 mapped to keypress D. You are asking if there is a way such that the first time you press 1, it is like holding down the D key, which will continue until you press button 1 again, at which point the D key will be released. Am I on the right track?

[2016-09-02 01:29] qyot27 commented on #37
Hopefully the compilation notes will get added/updated on the README?

[2016-09-02 13:45] D14RAP commented on #42
Kind of, The game I would like to use a switch for maps a single key to say the lights of a truck. This is a toggle so if i press say L it will toggle on then if it is pressed again it will toggle off. The switch i have is either on or off. Is it possible to have it so when the switch is in the on position it presses L once then when the switch is toggled the L key is pressed again?

[2016-09-03 18:55] WAZAAAAA0 commented on #42
Yes.
main window > click any of the mapped buttons > enable "Toggle" checkbox

[2016-09-05 23:14] qyot27 commented on #37
I'm not sure if it's related to the nosse builds or not, but the auto load last opened profile option doesn't seem to be working.  Since I have launch at startup enabled, antimicro would launch as soon as I log on, but I also have it launch in the system tray.  antimicro would launch, but the joystick wouldn't be enabled.

Clicking on the icon to bring the window up would show that the profile had

[2016-09-05 23:15] jsbackus commented on #37
Hey, sorry, this is taking longer than I'd anticipated. :weary: I'll keep poking at it and let you know what I come up with. Once I have a build of Qt I'm happy with I'll put it up somewhere, like BinTray, and update the README on where to find it. I'll put my notes on how to actually build the fool thing with the Qt archive, too.

I'll let you know once I have another (and hopefully final) test c

[2016-09-05 23:15] jsbackus commented on #37
Argh. :) Just to be clear this is the "auto load last profile" not the "auto load profile based on application", correct?

[2016-09-05 23:21] jsbackus commented on #39
Hi @Ainson, sorry for taking so long to get back to you. Not enough hours in the day. When you get a chance, would you try the portable version [here](https://github.com)? Please start it from the console with the following commandline:

`antimicro --log-level debug >> antimicro.log`

Feel free to add any other arguments you want between debug and the arrows. Please do what you would normally do t

[2016-09-05 23:23] qyot27 commented on #37
Options->Settings->General->Auto Load Last Opened Profile, yes.

[2016-09-05 23:25] jsbackus commented on #37
Great, thanks! And this worked fine for you under 2.21?

[2016-09-05 23:27] jsbackus commented on #38
Hi @Rikitik, I'm assuming that the above suggestion worked for you so I'm going to close this. If not, please feel free to re-open.

[2016-09-05 23:27] #38 closed

[2016-09-06 05:51] qyot27 commented on #37
From before the switch, yes.

[2016-09-06 11:45] jsbackus commented on #37
Hmmm.... Another user is having an issue with auto profile switching.. I wonder if they're related. I built a test case with some added logging to give some visibility. I may rebuild it without SSE and have you try it if I can't reproduce it. Is this affecting you in both Linux and Windows?

[2016-09-06 16:50] qyot27 commented on #37
I've not tried on Linux as of yet.  And because under Linux, the joystick wouldn't populate in antimicro automatically if I had it set on launching at startup/logon - I had to launch the program manually through a shell script to get it to recognize the stick, but it did remember the last used profile.

[2016-09-06 20:25] Ainson commented on #39
Thanks for having a look at this @jsbackus. Some success with the new version, as two profiles (8BitBoy and Call of Juarez) auto-loaded, but the rest still not.

Attached a log file where I go through all the games.

I've made doubly sure all settings are correct in Antimicro - Auto Profiles, and all games are in the same folder as you can see in the log. Also, the default auto profile was not act

[2016-09-08 16:09] #42 closed

[2016-09-08 23:13] jsbackus commented on #39
Hi @Ainson, it looks like AM is properly picking up the window transition, but I can see where it only matched in 8BitBoy and Call of Juarez. How are you specifying your auto profiles? With the window title or with the executable/program? It looks like in some of the cases, such as the Call of Duties, an extended character is in the window title. Probably the TM or such. If you are not using the e

[2016-09-08 23:15] jsbackus commented on #37
Interesting. Alrighty, I'll try to reproduce it on this end and see what I come up with. I'll keep you posted.

[2016-09-09 10:53] jsbackus commented on #37
So far, unable to repeat it on this end, but I haven't tried in actual Windows yet (just Wine). Looking through the code, it looks like there might be a slight difference between in how the portable version acts vs. the installer version. There might also be a conflict. Was 2.21 installed while running the test case I sent you? If so, did you install from the MSI or is it the portable version?

[2016-09-09 11:43] jsbackus opened #43 "Update build system to find libraries instead of using explicit paths."
Currently, CMake files explicitly specify ICU DLLs (and perhaps others), at least on Windows. Need to look through lists and replace these explicit paths with calls to [find_library](https://cmake.org/cmake/help/v3.0/command/find_library.html)

[2016-09-09 16:24] Ainson commented on #39
@jsbackus Yeah that was it, all works now! Adding the ® to the Call of Duty titles and the others how the active window name appear in the log sorted it. Even removing the titles and just going by executable path works also, so this was never a bug, it was just me misunderstanding or not seeing a how-to on this, as in the title field I just put the game title and that of course varies quite a lot

[2016-09-10 21:28] jsbackus opened #44 "Add a "window picker widget" to help setup auto-profile selection"
To make it easier to set up auto-profile selection entries, add a widget that will allow the user to select the auto-profile trigger window based on windows that are currently open.

One possibility is to allow the user to switch windows to their preferred window and switch back. We could track what windows become active during that time and they can chose based on that.

The other option, of cour

[2016-09-10 21:31] jsbackus opened #45 "Allow user to use regular expressions when specify auto-profile triggers"
For instance, user could use standard regex when specifying window titles and glob expressions for specifying paths. Would incur a slightly larger performance hit every time user switches windows, but if they're playing a game they'll not likely switch often, and it would probably be "in the noise" compared to the cost of making a graphics-intensive game the active window.

Something to think abou

[2016-09-10 21:32] jsbackus commented on #39
Hi @Ainson, Great! Glad it is working now. No worries! This was definitely a 'documentation bug'. Sorry it caused trouble!

Having to include symbols in the title is not intuitive. Agreed, there should be something in the wiki about this. I'll leave this issue open until I add a page regarding setting up auto profile selection. I've also add a new feature request(issue #44) for a "window picker wi

[2016-09-10 22:24] jsbackus opened #46 "Incorporate all relevant window information in debug message"
When auto-profile selection is active, dump active window info to debug log. Need to also adjust what is dumped in Windows vs. Linux (as baseAppFileName does not appear to be set correctly in Linux....).

[2016-09-11 01:51] jsbackus commented on #39
Hi @Ainson, I put together a quick wiki [entry](https://github.com/AntiMicro/antimicro/wiki/Automatically-Loading-Profiles). If you have a moment, would you please give it a quick read? Thanks!

[2016-09-11 01:53] jsbackus opened #47 "Incorporate documentation into in-app help"
Wiki is fine, but user should have an active internet connection to get help. Should put together a comprehensive help system. Probably can stick with markdown and use a readily available tool to convert to HTML.

[2016-09-11 15:36] jsbackus opened #48 "Create a release checklist"
Include:
- Prerelease steps such as updating translations.
- Building standard and nosse versions

[2016-09-11 15:40] jsbackus commented on #43
Update handling of these libraries:
* icu*.dll
* libwinpthread-1.dll
* libstdc++6.dll
* libgcc_s_dw2-1.dll / libgcc_s_seh-1.dll
* SDL2.dll

Give the user the ability to override SDL base directory?

[2016-09-11 15:43] jsbackus commented on #37
Hi @qyot27, I have another test case for you [here](https://www.dropbox.com/s/oe1wcdq6w778ocr/antimicro-e3c9652_nosse.zip?dl=0). Would you please modify the commandline in your "on startup" shortcut to include `--log-level debug >> C:\antimicro.log`? For example:

    c:\my_antimicro\antimicro.exe --log-level debug >> C:\antimicro.log

Thanks!

[2016-09-11 21:28] qyot27 commented on #43
libwinpthread-1.dll, libstdc++6.dll, and the libgcc_s_\*.dlls are completely bound to the compilation environment, so I'm not sure how the handling of them *could* be updated (outside the obvious: rebuilding your entire compilation toolchain).  Unless I'm misunderstanding what you mean by that.

[2016-09-11 22:16] qyot27 commented on #37
Uh, there is no shortcut (my Startup directory is empty).  It was strictly the 'Launch at Windows Startup' option in the Settings dialog.  Which means it's probably looking at the registry.

After looking at it more deeply, this is what appears to be happening:

After antimicro launches at startup, it doesn't load any profile.  The correct profile can be manually loaded.  And then, if antimicro is

[2016-09-12 09:26] Ainson commented on #39
..And what's more, because of my not understanding that Antimicro is looking for the active window title name and not just the path, I never explored the 'Select' option in the 'Auto Profile Dialog' window which it turns out captures both the path and title name perfectly, including all the symbols!

So trying now, I just set the timer to 10 seconds, start the game, and returning to Antimicro afte

[2016-09-13 23:30] jsbackus commented on #39
Hah! Well I'll be. You're right, there is a tool grab the right properties. I didn't see it because I kept using "Edit" instead of "Add". Yes, seems he did think of everything. :smile:

I'll update the wiki. Thanks for finding the Capture Application widget!

[2016-09-13 23:31] jsbackus commented on #44
Turns out there is already a widget, but you can only get to it when adding a new profile. Changing goal of this issue to make Edit use the same dialog as Add.

[2016-09-13 23:36] jsbackus commented on #43
You are correct, they are bound to the compilation environment. The CMake target that builds the portable distributable as well as the MSI copy these into the same directory as antimicro.exe so that they make it to the new system. The issue is that the CMake target has the paths hardcoded to the paths used in the Qt binary distributable. There's no guarantee that this path will be correct in the f

[2016-09-13 23:39] jsbackus commented on #37
Interesting... I'll have to go back and look at the code that sets up the launch on startup feature. I should be able to add the switch to the registry entry. That is interesting about not being able to find the ini at the beginning.... I wonder if there is a problem with the portable version... I'll try building the MSI version and we'll see if that makes a difference. I'll go ahead and add the u

[2016-09-14 00:49] jsbackus commented on #39
Reopening until I *actually* update the wiki....

[2016-09-14 01:14] jsbackus commented on #37
Alrighty, if you'll please try installing the version [here](https://db.tt/ZomRpnXP). Thanks!

[2016-09-14 03:36] qyot27 commented on #37
I'd never installed it the first time, I was only ever using the portable version.  So I doubt that's where it came from.

But regardless, I tried installing from the msi, and the Windows Installer service errored out and refused to install it.  Even tried reinstalling Windows Installer 4.5, stopping/restarting it, and so on, and still didn't fix the problem.

[2016-09-14 17:18] jsbackus commented on #37
Ahh, interesting re: MSI failing for you. I am ... unimpressed with WiX, to say the least. Thanks for giving it a try. I'll regenerate the portable version with the modified registry entry. It would also be interesting if you tried deselecting the load on startup option in AntiMicro and instead created a shortcut in your Program Files/Start folder.

Thanks!

[2016-09-14 17:41] jsbackus commented on #37
Alrighty, if you'll please try this version [here](https://db.tt/emC4lLsi) when you get a chance and send me the C:\antimicro.log file that it should generate. Thanks!

[2016-09-15 03:24] qyot27 commented on #37
Nope, no dice.  I haven't tried yet with pasting a shortcut into Startup, but I did go spelunking in the registry and found that something's not quite right.  This is what it spits into the value of the entry when the Launch at Windows Startup option is selected:

[code]

I believe that it's interpreting the `\a` in `C:\antimicro.log` as the Bell character or something, seeing the backslash as an

[2016-09-15 23:43] jsbackus commented on #37
Ah crap! Yeah, you're right. I forgot to escape the \. I'll try to generate a new one tomorrow. Sorry about that! You can also try editing the entry with regedit if you're feeling adventurous. :smile:

Yeah, I could certainly see registry corruption causing a problem. It'll be interesting to see what the log says.

[2016-09-16 04:08] qyot27 commented on #37
Even after changing the registry entry to the correct `C:\antimicro.log` output file, it's still not writing any log file, and doing so is also suppressing antimicro from starting at all.

On the upside, though, turning off the Launch at Windows Startup option and just creating a shortcut in the Startup directory does allow the last opened profile to be loaded correctly when antimicro launches at

[2016-09-18 18:45] luisg123v opened #49 "[Key not natively supported]: "ñ""
I noticed that, apparently, the "ñ" key, available in Spanish keyboards (as in "español") is not natively supported by AntiMicro

When I press that key within `KeyChecker`, I get the following:
[code]

Here is a screenshot of my KeyChecker
![antimicro-key not detected](https://cloud.githubusercontent.com/assets/19801181/18617750/1b9365ae-7da5-11e6-9aac-ca6bb07e7c0c.png)

I'd like to add that the k

[2016-09-18 22:29] jsbackus commented on #49
Oh no! Yes, looking at the code it looks like there are several missing keys for non-US keyboards. You're clearly running on a Linux machine. Would you try a couple of things for me, please?
1. Build and try the version [here](https://github.com/AntiMicro/antimicro/archive/issue49.zip)
2. Build either the official 2.22 or the above with uinput and try the key checker on it (you'll need to start it

[2016-09-18 22:32] jsbackus commented on #37
Good work tweaking the registry. :smile: Glad you could get it to work by creating a shortcut in the Startup directory. The good news is that I was able to reproduce the problem, at least on a virtual machine. Definitely something happened between 2.21 and 2.22. I'll look into it some more. Since it isn't related to the nosse issue, which I believe we've resolved, I'm going to change the name of t

[2016-09-18 22:35] jsbackus opened #50 "Add ability to configure log level and specify a log file in settings dialog"
This will help with debug, et al. Should also add a `--log-file` commandline option.

[2016-09-18 23:02] jsbackus opened #51 "Allow for an arbitrary number of profile sets."
Currently, the number of sets is limited to 8. Consider allowing the user to specify an arbitrary number of sets.

[2016-09-18 23:03] jsbackus opened #52 "Allow a profile set to refer to an other profile"
i.e. allow inter-profile references.

[2016-09-18 23:04] jsbackus opened #53 "Allow user to merge two profiles"
Allow user to merge the sets in two profiles into a single profile. User should be able to select which sets to keep from the other profile and to specify a "starting set", at which point the other sets will start.

[2016-09-19 08:48] spanktastic2120 opened #54 "Cycle during Pause or Delay in order to tap/double tap"
It seems that button presses are not registered during a pause or delay period. The wiki's example for a "press and double press"
`Release 0.01 -> Pause 0.00 -> Release 0.49 -> E -> Cycle -> Release 0.01 -> R`
 is actually "double press or hold" as 'E' is not sent unless the button is released after 0.49s. In order to determine if a button was pressed once the program would need to wait and see if

[2016-09-19 22:54] luisg123v commented on #49
Hi, thanks for the quick reply!

Request 1:
I've compiled and run the version you provided and got the following results:
[code]
As you can see, the antimicro Key Value is the same as the Native Key Value. I don't know if that was the desired output, since the antimicro Key Value usually is the same as the Qt Key Value.

Request 2:
I compiled the version you provided using the `DWITH_UINPUT=ON` fl

[2016-09-20 13:57] Ainson opened #55 "Auto Profile not defaulting to default profile after gamepad has been reset"
Restarting a wireless Xbox 360 gamepad that has switched off, AntiMicro loads up the 'new' profile instead of the designated 'default' one.  This is a bit of a bug since the 'new' profile is completely blank and prevents full control of the game computer.

(It means I have to get up from the living room sofa (heaven forbid) and go to the room where the computer keyboard is to alt-tab in order for

[2016-09-21 00:14] jsbackus commented on #49
Thanks! Yes, I was afraid that uinput doesn't support the extended characterset. Not sure where things stand with it, so I wanted to try it. Thanks!

Yikes! Looks like the issue is that Qt doesn't have a mapping for the small-case Latin characters. Please try to build the version [here](https://github.com/AntiMicro/antimicro/archive/issue49.zip).

[2016-09-21 01:15] luisg123v commented on #49
Now, the `antimicro Key Value` is the same as the Qt one:
[code]

and, if I use `uinput`, I get the following output:
[code]

[2016-09-23 13:28] luisg123v opened #56 "Joystick 2's profile is not remembered"
When I connect two joysticks and select a different profile for each one, if I quit antimicro and open it again, the selected profile for the second joystick is not remembered, it's set to the profile of the first one.

I might be wrong, but I believe the issue comes from when antimicro writes its configuration file, especially just before quitting. I made the following test:
- Connect two joystic

[2016-09-24 22:16] jsbackus opened #57 "uinput mode may not recognize extended Latin characters"
In debugging issue #49, it came up that uinput mode does not appear to map the extended Latin characters such as Ntilde, etc. Just making a note of it since I don't know that this is actually an issue...

[2016-09-24 22:17] jsbackus commented on #49
@luisg123v Thanks! Sounds like the updated program works for you in X mode. I've made a separate issue (#57) to track the potential problem with uinput, since I don't know that it is actually an issue for anyone.

Since it looks like the fix addresses your issue, I'm going to close it. Please feel free to re-open if you have additional concerns. Thanks for your help!

[2016-09-24 22:17] #49 closed

[2016-09-24 22:45] jsbackus commented on #55
@Ainson Yikes! Yes, I agree, "reinserting" a controller should obey the 'default' designation. I'll look into it. Thanks!

[2016-09-24 22:50] jsbackus commented on #56
Hi @luisg123v, thanks for the detailed report! Yes, looks like we have an "off by one" bug that isn't saving the last joystick profile. Though your note about "Load all profiles on joystick one" makes me think it may be a little trickier to track down. I'll look into it. Thanks!

[2016-09-24 23:23] jsbackus commented on #54
Hi! Sorry for the late response. I'm still coming up to speed on the advanced assignments, so the short answer is: I dunno. I'll look into it more and get back to you once I grok how it works. Sorry!

[2016-09-25 00:00] jsbackus commented on #50
Current setup requires user to save settings and restart program for logging to take effect.... Closing.

[2016-09-25 00:00] #50 closed

[2016-09-25 14:38] Rast1234 opened #58 "Auto Profile ignores different controllers"
Hello. I am using SCP Toolkit to connect two PS3 controllers (Dualshock3). Antimicro works fine with them, i am able to set up different profiles for controllers in GUI. But i can't set up Auto Profile to load different profiles when a game starts. Look at screenshots:
(1) - Antimicro detects two connected controllers, i am able to set them up independently. In Auto Profile dialog i have drop-down

[2016-09-25 15:07] jsbackus commented on #39
Done! Sorry it took so long. :smile:

[2016-09-25 15:07] #39 closed

[2016-09-25 16:10] jsbackus commented on #58
Hi @Rast1234,

Yes, looks like a bug/deficiency in AM. The Auto Profile dialog should distinguish between multiple controllers with the same name, as it does in the main dialog. I'll look into it. Thanks for the report!

[2016-09-25 16:15] jsbackus commented on #37
Looks like the issue is related to the portable version. Non-portable versions 2.21 and 2.22 executed from an extracted zip file work. Portable versions of 2.21 and 2.22 do not work. The seem to lose the settings file. They appear to be looking in My Documents for profiles, etc. instead of in the portable directory.

[2016-09-25 16:55] qyot27 commented on #37
Which does make some sense, since My Documents/Documents is user-writable, so the situation where a portable version is unpacked to Program Files would potentially run afoul of permissions if it tried to write there.  If the user has Admin privileges (which would be true for most XP users, but not later versions of Windows) it *should* be irrelevant, but clearly isn't.  The problem is that portabl

[2016-09-25 17:25] jsbackus commented on #37
Agreed. Looking through the code, it looks like the default config directory when compiled with -DPORTABLE_PACKAGE=ON is the current directory. That's a reasonable choice when starting from the File Explorer, but no telling what that is when using the on-startup registry hook. I'm compiling a test case now that uses the directory that contains the EXE.

[2016-09-25 18:08] jsbackus commented on #37
Nope, that wasn't it. Looking at the config file, profiles are specified relative to the EXE and not the default profile directory. I'll take a closer look at the code that attempts to load the last profile when I get a chance...

[2016-09-25 23:33] jsbackus commented on #43
Somehow, the changes to CMakeLists.txt are now pulling in a dependency on Microsoft's C++ runtime. Gah! Reopening...

[2016-09-26 11:33] Rast1234 commented on #58
I also noticed that whichever controller was selected when creating Auto Profile entry, when i close and open entry properties again, the last "XInput Controller" is always selected.

[2016-09-28 05:52] spanktastic2120 commented on #54
No worries! I appreciate getting any response at all. I poked through the code myself to try and identify where Cycle gets iterated and why during a Pause or Delay it wouldn't take input but i couldn't grok.

[2016-10-02 08:46] Papermanzero opened #60 "[Feature] Mouse Coordinates - Mouse click on certain coordinates"
This is a feature to define on which coordinates a mouse click (left, right, middle, etc.) shall occur.
The user shall enter values for the x and y coordinates and the according mouse click.
Then a real controller button can be used to click on a certain position on screen (e.g. to open a menu)

Additionally the "mouse coordinates" can be available for the advanced slots.
GUIs in certain games hav

[2016-10-02 08:55] Papermanzero opened #61 "[Feature] Spring Center - Realign center for Spring function"
The spring function for the mouse is currently always centered (middle of the screen).
it would be beneficial for some games to adjust the center to a different position.

[2016-10-02 09:05] Papermanzero opened #62 "[Feature]Reset function for advanced assignmets combinations"
Sometimes a more complex assignment combination is used, which has to be reset to the beginning.
For example following advanced combination is used for button 1: A->S->D
If the user hits two times button 1 the combination is on S.
But for some games it is necessary after a certain time or after another action to start from A again.
So following is needed: Reset ( A->S->D)
The reset shall occur eit

[2016-10-02 09:08] Papermanzero commented on #62
The feature is more or less an extension of "Cycle"

[2016-10-02 09:13] Papermanzero opened #63 "[Feature] Advanced Assignments - virtual mouse / keyboard"
Currently the advanced assignments only work if the user enters the key on the real keyboard.
But sometimes the mouse or keyboard do not offer all keys.
So either a drop-down menu to select a key or to display the virtual keyboard/mouse (like in the simple assignment) would be beneficial.

[2016-10-02 09:32] Papermanzero opened #64 "[Feature] Controller Button simulation"
Some applications or games, use already direct input or xinput.
A remapping of the controller buttons (dinput or xinput, but mainly xinput) would allow the user to flexible adapt the controller mapping.
Padstarr offers the feature:
http://padstarr.com/
https://youtu.be/43noJNZTKAs?t=8m18s

[2016-10-02 09:35] Papermanzero opened #65 "[Feature] Analog Axis"
Areas for the Analog Axis shall be definable to assign certain keys to the analog area.
The xbox360 controller has analog axis triggers which would offer the possibility to divide the for example the trigger into a full press or a light press.

Details:
https://youtu.be/43noJNZTKAs?t=7m22s

[2016-10-02 11:21] Papermanzero commented on #65
Sorry, oversaw the Distance macro, which is exactly the feature.

[2016-10-02 11:27] Papermanzero commented on #64
This is an interesting project which can be supportive:
https://github.com/nefarius/ViGEm

[2016-10-02 12:09] Papermanzero commented on #64
Related to: https://github.com/AntiMicro/antimicro/issues/21

[2016-10-02 12:23] Papermanzero opened #66 "[Feature] Mouse Area"
This feature is similar to sprung.
Within the sprung function the mouse returns always back to the centre of sprung.
Area defines a fix area. However as soon as the border of the area is reached the mouse will jump back to the centre of the defined area.

Example:
https://www.youtube.com/watch?v=Qu05Q754FyQ

[2016-10-02 12:27] Papermanzero opened #67 "[Feature] Button Combo"
Button Combo is a feature if several controller buttons are pressed simultaneously.
Means in particular:
Button 1 is mapped to A
Button 2 is mapped to B
But if Button 1 and Button 2 are pressed at the same time, they will trigger C.

[2016-10-02 21:48] #65 closed

[2016-10-08 14:55] fckmylife commented on #67
Hi @Papermanzero ,

Actually there is Combo Button option already.

How to do it :

1. Select key you want to assign a (let me call it) : "**Hold Button**" for example button A (Xbox One Controller).
2. When you will see the Keyboard panel where you choose the key, in the left down corner there is **Advanced Options** button - go there.
3. Next, open tab "**Assignments**" and then you need to set

[2016-10-09 00:47] jsbackus commented on #58
Hi @Rast1234, sorry for taking so long to respond. Hmmm.. Thanks for the additional info. I'll look into it when I get a chance.

[2016-10-09 00:55] jsbackus commented on #60
Interesting idea! We'll add it to the list.

[2016-10-09 01:14] jsbackus commented on #37
Hi @qyot27, so I think I finally fixed it. If you get a chance would you please try the version [here](https://db.tt/BDjNr3xS) using the option in the Settings dialog instead of the Shortcut in Start Menu->Programs->Start. Thanks!

[2016-10-09 01:16] jsbackus commented on #61
Hmmm. Interesting. I'll have to think about that one. Thanks for the suggestion!

[2016-10-09 01:20] jsbackus commented on #62
Hmmm.. I would argue that AM should already do 1 and 3. Perhaps make 1 optional. I'm still familiarizing myself with the advanced assignments If AM doesn't already do 1 & 3, I'd consider that a bug. Suggestion 2 might be a nice enhancement as an optional behavior. I'll look into it.

Thanks for the suggestion!

[2016-10-09 01:22] jsbackus commented on #63
oh, good point! yes, I agree, the virtual keyboard/mouse should be available at all assignment prompts. We'll tentatively schedule this one for 2.23.

Thanks for bringing this up!

[2016-10-09 01:24] jsbackus commented on #64
Interesting! Yes, I need to look into this some more. Thanks!

[2016-10-09 01:25] jsbackus commented on #66
Hmmm... Interesting. I'll have to think on this one. Thanks!

[2016-10-09 01:31] WAZAAAAA0 commented on #61
I believe the mouse spring function already exists.
![spring](https://i.imgur.com/PbRv2ky.png)

[2016-10-09 21:44] fr500 commented on #67
Its's not reliable enough, I've been trying to use that to trigger steam screenshots to a combo with that over gamestream but it always ends up messing up my bindings

[2016-10-09 21:59] jsbackus commented on #61
Hi, @WAZAAAAA0. Thanks! My interpretation of the request is to be able to configure the "home" location. For example, if you are playing a game with a sidebar that occupies the left 30% of the screen, you could configure AM to center the mouse over that sidebar instead of the center of the screen.

[2016-10-09 22:40] jsbackus commented on #43
Latest dev works on WinXP. Considering this fixed.

[2016-10-09 22:40] #43 closed

[2016-10-09 22:51] jsbackus commented on #46
Resolved.

[2016-10-09 22:51] #46 closed

[2016-10-10 00:24] qyot27 commented on #37
Confirming that the new test build works the way it should.  I deleted the shortcut in Startup, turned on the Launch at Windows Startup option, and rebooted.  No problem at all.

[2016-10-11 14:45] WAZAAAAA0 commented on #61
I read it wrong then I thought Spring Width/Height was what he was looking for

[2016-10-11 14:51] fckmylife commented on #67
@fr500 You will need to set up **Set Page 2** buttons to "**Set Page 1** on release".

So you will need to got to **Page 2** and set up your **Zones** on same buttons but instead of **Hold Zones** use Release Zones. I think it should work.

[2016-10-12 22:10] spanktastic2120 commented on #60
As an alternative/workaround you could assign the button to an unused or nonexistent key (like F13-F24) and use AutoHotkey to perform the click. In AHK its as simple as:
`F13::Click, left, x, y`

[2016-10-13 09:00] tsunrise0 opened #68 "Antimicro crashes when selecting Set"
Hi, Found this bug that needs fixing.

In Set 2 if I set Right Stick to 8 Directions and assign keys to it and apply "Switch to Set2 WH" on one of the buttons in Set1, the moment I press the button to switch to Set 2, the application crashes.
In fact, it crashes even when i try to click on the Set 2 button within the program.

I was trying to mimic a weapon wheel like character when I stumbled upo

[2016-10-13 11:20] Papermanzero commented on #67
I thought about the workaround.
But it is really to use Button 1 + Button 2 at the same time.

[2016-10-13 11:25] Papermanzero commented on #60
You could also use AutoIt. But in generally it is really related about AntiMicro.
And you have to consider Linux as well ;-)

[2016-10-13 11:42] Papermanzero opened #69 "[Feature] Loading AutoHotKey / AutoKey Scripts"
With a certain profile a AutoHotKey (Windows) or an AutoKey (Linux) script can be loaded for enhanced and very complex assignments and functions.

[2016-10-13 22:19] Papermanzero commented on #62
As stated it is more or less an extension of 'cycle'.
https://github.com/AntiMicro/antimicro/wiki/Advanced-Slot-Explanation

Option 1 and 3 have to be added to cycle.

[2016-10-14 06:31] EternalDahaka commented on #68
I'll bump this.  I had that happen quite a bit and that was the reason I stuck with 2.18(not sure which version this starts happening in) until now.  I've just tried the newest version and that issue seemed to have vanished for me for my existing profiles. . .but after trying that profile it's back and affects everything.

[2016-10-15 08:48] Papermanzero commented on #63
Very very welcome. I really like the project. ^_^
To be honest I am currently using padstarr as a reference. http://padstarr.com/
However I see much more potential in AM. ;-)

[2016-10-16 14:57] jsbackus commented on #37
Great! Thanks for all of your help!

[2016-10-16 14:57] #37 closed

[2016-10-16 15:01] jsbackus commented on #69
Hmmm.. Interesting. To be clear, you're proposing AM interface with AutoHotKey / AutoKey? (as opposed to interpreting .ahk, etc.)

[2016-10-16 15:03] jsbackus commented on #62
Ah, good point. Yes, it looks like 1 & 3 were intentionally left off. Ok, so not a bug. :) Reasonable requests though. I'll look into it. Thanks!

[2016-10-16 15:46] jsbackus commented on #63
:smiley: Thanks!

Interesting re: padstarr. Don't believe I've heard of it.

[2016-10-16 15:49] jsbackus commented on #68
Yikes! Thanks for the report and the test case. I'll look into it. What platform are you using? (Windows version, 64bit vs 32bit) Did you install via the installer (.msi) or are you using the portable version?

[2016-10-16 16:28] jsbackus commented on #68
I'm able to reproduce it. I'll see if I can track down the problem.

[2016-10-16 18:34] WAZAAAAA0 commented on #69
maybe something generic like this would be an easier and more versatile solution:
![callscript](https://i.imgur.com/5lS2Rp9.png)

[2016-10-19 07:22] Papermanzero commented on #69
Yes, something like that. @WAZAAAAA0
It is just an idea.
Autohotkey, Autokey or AutoIT have possibilities which AM cannot provide, due to complexity (like finding a button in a window and pressing this button)

I saw that AutoIT supports Linux and Windows, so maybe this is a better approach.

[2016-10-19 07:26] Papermanzero commented on #63
The video explanation from youtube about padstarr is great.
At least you can see features and possibilites, which would be also great for AM:
part 1: https://www.youtube.com/watch?v=tJVUc7621FU
part 2: https://www.youtube.com/watch?v=rJNWgbVo2-I
part 3: https://www.youtube.com/watch?v=43noJNZTKAs
part 4: https://www.youtube.com/watch?v=_oYbnJbYIXY

[2016-10-22 14:43] jsbackus commented on #69
@WAZAAAAA0 That's a good idea. Not only will it allow users more flexibility, but it'll make it easier to add features. I'll have to think about how best to add it in.

[2016-10-22 14:44] jsbackus commented on #63
Thanks!

[2016-10-22 19:07] WAZAAAAA0 commented on #69
Wait, really? AutoIt on Linux?

[2016-10-24 20:36] Keith94 opened #70 "Full profile name not shown if it contains periods"
To reproduce the bug, save a new profile with the name `test.profile`. In antimicro, the profile dropdown only displays `test` and not the full name `test.profile`.

[2016-10-24 22:59] Limdel opened #71 "antimicro doesn't recognize any gamepad events"
I'm using Manjaro linux and I have both XBox One and PS4 controllers. Both of them work in games and in jstest. Both of them are recongnized via antimicro. But.. antimicro doesn't see any key presses or axis changes.

[2016-10-25 10:07] seally1186 commented on #71
I'm seeing the same behavior on Arch Linux with a Logitech F310. This issue seems to be related to SDL 2.0.5. Downgrading to 2.0.4 makes everything work again.

[2016-10-26 01:18] gapmeister11 commented on #71
Same issue on Arch Linux with a Rockcandy wired Xbox 360 controller. Downgrading sdl2 to 2.0.4 fixed it for me as well.

[2016-10-26 16:52] seally1186 commented on #71
I did a bit of poking around and discovered that the problem seems to be coming from the following line, sdleventreader.cpp:198:
[code]
It seems like, even though `numevents` is 1, the function will return a larger number (which doesn't get handled by the switch).

Changing `case 1` to `default` (and moving it below the other cases) seems to work.

Alternatively, replacing this line with:
[code]
s

[2016-10-28 03:36] slacknk commented on #71
+1, Slackware64-14.2
JPad dedetected, but his buttons push don't detect, if build and started with SDL2-2.0.5.
Downgrading to 2.0.4 - help, and antimicro build with 2.0.5 works fine with SDL2-2.0.4!
Try and tested in Qt4, Qt5 versions on 2.22 and build from git-tree dev antimicro-2.22.34_git20161009

[2016-10-28 11:27] Papermanzero commented on #69
sorry, got confused with autokey... :(
AutoIT is windows only.
AutoHotKey is Windows only
AutoKey is Linux only

[2016-10-29 11:09] jsbackus commented on #71
Argh! Seems like every time SDL gets an apparently minor revision we have problems. We must be doing something wrong since I don't hear of other projects having these issues. One of these days I'll have to revamp all of the SDL code. I suspect we have some pretty old code in there.

@seally1186 Thanks for tracking that down! I'll take a closer look when I get a chance and get a test case out. My g

[2016-10-29 11:10] jsbackus commented on #70
Hi @Keith94, interesting! Yes, definitely a bug. I'll fix it when I get a chance. Thanks for reporting!

[2016-10-29 11:15] jsbackus commented on #68
Hmmm.. so I can't seem to reproduce the issue anymore. At least not a crash. Set 2 comes up empty (which it clearly isn't looking at the amgp file). @tsunrise0, does this consistently crash for you? Also, what platform are you using? I'd like to send you a test case. Thanks!

[2016-10-29 11:45] jsbackus commented on #71
Interesting... Looks like SDL_PeepEvents no longer conforms to the documentation.... The second argument (in our case 1), is the *maximum* number to return. Whoops! :smile:

Regardless, changing the 1 case to default won't hurt and should fix the issue. I'll push an update once I have a chance to verify it.

[2016-10-29 13:43] Papermanzero opened #72 "[Feature] Delta Acceleration for Mouse Speed"
Currently the mouse is either very sensitive or very sluggish if it is mapped to the xbox360 sticks.
A delta acceleration depending on the distance from the dead zone could make the mouse more accurate.
The multiplier for the mouse speed shall degrade when moving toward the stick dead zone.
Furthermore the mouse speed multiplier shall increase when moving away from the stick dad zone.

Example of

[2016-10-29 15:55] seally1186 commented on #71
The thing about the docs that made me pause was that they say it returns the "number of events actually stored". But if the first arg is `NULL`, then nothing is actually stored.

Also, I found this in the commit logs:
[code]
So the change looks pretty deliberate (seems both `SDL_PEEKEVENT` and `SDL_GETEVENT` work the same in this case).

I guess I'm wondering if they consider this case "undocument

[2016-10-29 22:22] jsbackus commented on #71
Interesting, interesting... Yes, it does look deliberate. I'll e-mail the devel list when I get a chance and try to get some clarification.

[2016-10-29 22:25] jsbackus opened #73 "Should be shipping README-SDL.txt"
Looks like we should be shipping README-SDL.txt in the binaries. Need to update CMakeLists.txt.

[2016-10-29 22:29] WAZAAAAA0 commented on #72
that video was uploaded by Travis Nickles, the main developer of antimicro lol, so maybe the function exists already?

[2016-10-29 22:32] jsbackus opened #74 "Prep for new Release"
It has been a while since our last release. We have had several bug fixes in that time, plus a new SDL bug has popped up. Even though we still have several bugs in the queue, I'd like to go ahead and put out a release once I have the SDL issue resolved. I'm hoping to release sometime in the next week or so, but we'll see.

[2016-10-29 22:33] jsbackus opened #75 "Update Changelog"

[2016-10-29 22:41] jsbackus commented on #72
Hmmm.. Looks like it might be one of the advanced mouse features discussed [here](https://github.com/AntiMicro/antimicro/wiki/Mouse-Settings). Here's the configuration dialog:

![Uploading mouse_settings.png…]()

[2016-10-29 23:05] jsbackus commented on #71
Alright. I was able to reproduce the issue with SDL 2.0.5 and can confirm the fix in branch issue_71 (3cc00842) fixes it. I've merged the changes into the dev. Thanks folks for all your help!

[2016-10-29 23:05] #71 closed

[2016-10-30 17:45] Papermanzero commented on #72
You have to read the comments of the video. ;-)
Travis Nickles updated AntiMicro with the mouse acceleration and its new delta function.
This is also why I opened the issue.

[2016-10-31 05:13] aybe opened #76 "Wiki is quite unintuitive and 'Set Selector' is broken :)"
Basically, assignments are ignored when this option is set.

I needed the following for Shadow of the Empire game, to try having a modern controller layout !
_remember, this is a 20 years old game with controls we do find really weird by today's standards_ :octocat:

**Problem 1**
Mapped mouse to right stick. it does look left/right **but also advances forward**.
(by today we move/strafe with left

[2016-10-31 20:03] JPLeBreton commented on #74
What's the SDL issue? I'm running Arch, recently updated SDL2 to 2.0.5, and AntiMicro doesn't get input from my joysticks anymore (jstest etc still recognize them fine)... is that the issue you're speaking of? If so I'll eagerly await a fix, if not I can file a separate issue.
Thanks for carrying this project onward.

[2016-11-03 09:21] seally1186 commented on #74
Hi @JPLeBreton, Yeah that's it. See #71.

[2016-11-04 20:42] Haywood-Jablomee opened #77 "Add no throttle option for triggers"
I'm trying to use antimicro to play Unreal Tournament 2004 with a DualShock 2 controller. The problem is that antimicro expects the triggers to be analog while my shoulder buttons (L2/R2) are digital.

I couldn't find any combination for dead zone, max zone and throttle that resulted in the simple on/off behavior that I'm looking for on these buttons.

Could you add a no throttle option to the tri

[2016-11-06 00:28] jsbackus opened #78 "[PROPOSAL] Remove 'joystick', 'gamecontroller', etc from default profile save name"
The resolution to issue #70 exposes the 'sub-extension' AM adds to the default save name when saving profiles. I don't see any benefit to keeping this 'sub-extension'. Controller type is stored inside the file, so this wouldn't affect functionality. Comments?

[2016-11-06 00:29] jsbackus commented on #70
I have committed a fix, which will be incorporated into the next release. There is a side-effect, in that 'joystick', 'gamecontroller', etc, are now exposed. My personal feeling is that we should remove these 'sub-extensions'. I started a discussion over in #78. Anyway, marking this closed. Thanks for reporting!

[2016-11-06 00:29] #70 closed

[2016-11-06 00:57] #73 closed

[2016-11-06 00:57] #75 closed

[2016-11-06 00:58] jsbackus commented on #48
Went ahead and created an initial version in the wiki. Marking this complete.

[2016-11-06 00:58] #48 closed

[2016-11-06 01:14] jsbackus commented on #74
Hi @JPLeBreton, yep, as @seally1186 noted, this will fix the issue with SDL2.0.5. I have all changes in master, just making sure I didn't screw up the Windows builds before I tag and release. Should have it here shortly. Thanks to everyone for your patience!

[2016-11-06 01:41] jsbackus commented on #74
New release is up! I'll have the binaries built and uploaded in the next hour or so. Thanks to all!

[2016-11-06 01:41] #74 closed

[2016-11-06 01:46] JPLeBreton commented on #74
Just got the latest from AUR and it's fixed, thanks very much!

[2016-11-06 01:47] jsbackus commented on #74
Welcome! Glad it's working!

[2016-11-06 01:48] jsbackus commented on #76
Hi @aybe, Yikes! Yes, we should review the UI to see if we can make that easier to figure out. Sorry that the wiki is confusing. It is in need of a re-write. Thanks for reporting!

[2016-11-06 01:50] jsbackus commented on #77
Hmm... Yes, I can see how that would be a problem. We should be able to come up with something. I'll look into it!

[2016-11-06 02:22] jsbackus opened #79 "Deprecating Qt 4"
I don't currently have any plans to actively remove Qt 4 support from the code, however, I will not be testing against it. Additionally, at some point I will be going over the CMake files and will likely remove the Qt 4 support from those. So, if there are any Qt 4 users out there, please make preparations.

[2016-11-06 03:06] Keith94 commented on #78
I agree, for simplicity's sake you can remove the `.gamecontroller` from the file name and just leave `.amgp` as the extension.

[2016-11-07 05:15] aybe commented on #76
yes, actually there are really only a few things missing AntiMicro to make it top notch 👍

[2016-11-08 01:07] vheuken opened #80 "Allow mapping to gamepad buttons"
I grabbed this program because I wanted to bind my trigger buttons to the A/B and C/D buttons on my gamepad, so that pressing the left trigger would be like pressing the A/B buttons simultaneously and the right trigger be like pressing the C/D buttons simultaneously.

I was able to do this by mapping the buttons in the game to keyboard buttons and then binding the gamepad buttons to the keyboard i

[2016-11-08 01:12] zexor18 opened #81 "Question about Rumble"
Is there a function to trigger the controller rumble?

[2016-11-10 21:12] pavelxdd opened #82 "Antimicro tray icon disappeares from Gnome tray"
To reproduce an issue:
1. Hide Antimicro in tray:
![img1](https://i.imgur.com/LjPwetl.png)

2. Go to the Gnome power menu (with 3 buttons - Cancel, Power Off and Restart).
Press Cancel to return back to Gnome.

3. Antimicro icon became transparent:
![img2](https://i.imgur.com/JmurNKR.png)

The only way to return it back is to restart Antimicro or restart gnome-shell via "Alt+F2, r".

Arch x64, gno

[2016-11-10 21:33] Papermanzero commented on #66
Another example:
https://www.youtube.com/watch?v=i0M1OsXV4Qo

[2016-11-13 15:04] jsbackus commented on #76
:smile: Thanks! It is nice to hear that.

[2016-11-13 15:41] jsbackus commented on #80
Hi @vheuken, thanks for the suggestion! Yes, it is something we can consider for a future feature. Currently, we don't support sending gamepad/joystick events, but it has come up before.

[2016-11-13 15:42] jsbackus commented on #81
Hi @zexor18, no, not that I know of. What kind of event(s) did you have in mind?

[2016-11-13 15:44] jsbackus commented on #82
Hi @pavelxdd, interesting.... I don't believe that there is anything special in AM with regard to the tray icon. I'll see if I can find something related to Qt5 + Gnome Shell, though. Thanks for reporting!

[2016-11-13 19:41] zexor18 commented on #81
Just like the Turbo check box, just add a rumble that can be trigger on
button press and the frequency of the rumble.

On Sun, Nov 13, 2016 at 7:42 AM, Jeff Backus <notifications@github.com>
wrote:

[2016-11-13 22:37] Papermanzero opened #83 "Mouse Strikes and Moves"
This is related to https://github.com/AntiMicro/antimicro/issues/60
Beside mouse clicks on certain coordinates it would be supportive to define certain strikes and moves (e.g. circle mouse move, upwards strike, right strike etc.)
This would be supportive for tablet/smartphone emulators.

[2016-11-14 12:54] tsunrise0 commented on #68
Sorry for the late response.
To answer your first question, it happens on both the portable and the installer version. The platform version I tried was the Windows 32bit version (As there is no 64bit version). My OS is Windows 10 64Bit.
In response to the second question, the issue still persists for me. It outright crashes the program, even on the newest 2.23 version. Right now I'm on 2.18.2 whic

[2016-11-14 12:58] tsunrise0 commented on #81
This would be a neat addition. Xpadder has this feature and it really adds to the experience.

[2016-11-17 13:12] Papermanzero commented on #83
Also games like Silver would benefit from this assignment possibilities.
https://youtu.be/7i6TfrwThYU?t=3m10s

[2016-11-20 13:48] jsbackus commented on #68
Hi @tsunrise0, no worries! I'm not the most prompt either. Thanks for the info. It helps that the issue is so consistent. I'll put together a test case for, though it'll probably be next weekend. (My apologies - life is incredibly hectic at the moment).

[2016-11-20 13:51] jsbackus commented on #81
Interesting! Duration as well or is something like 0.5 seconds good enough? And, to be clear, this would be configurable per button?

[2016-11-20 13:57] jsbackus commented on #83
Hmm.. Yes, I can see how that would be useful. We'll look into it!

[2016-11-21 09:08] zexor18 commented on #81
There would be a left rumble strength slider and a right rumble strength slider. And as long as you hold the button down, it will keep rumbling.

[2016-11-21 23:26] Zeioth opened #84 "PPA has to be updated for ubuntu 16.10"
https://launchpad.net/~mystic-mirage/+archive/ubuntu/antimicro doesn't support ubuntu 16.10 yet.

Also please, add to the readme that the library "libsdl2-dev" is required too.

[2016-11-26 15:55] jsbackus commented on #81
Thanks! The detail is very helpful. I'll look into it. Looks like SDL has pretty extensive support for rumble, so shouldn't be too difficult.

[2016-11-26 15:58] jsbackus commented on #84
Thanks! I'll update the readme when I get a chance.

As for Ubuntu, I don't manage those packages. @ProfessorKaos64 has some packages over at [libregeek](http://packages.libregeek.org/). It looks like mystic-mirage manages the one at launch pad. You might try sending him/her an e-mail? I don't have an account their so I cannot see the e-mail address.

[2016-11-26 16:10] jsbackus commented on #68
Hi @tsunrise0, I have a test case for you. Please download the file [here](https://bintray.com/antimicro/antimicro/download_file?file_path=antimicro.89cfe180.portable.zip). It is a portable version, so shouldn't mess up your current install. This version should still crash, all I did was add a number of debug statements so that I can narrow down where the problem is. So, after you have the above f

[2016-11-26 16:12] jsbackus opened #85 "Binaries Now Available on BinTray"
In the interest of having official binaries available in multiple places, I am trying out BinTray. Plus, it should be a lot more pleasant to use to distribute test cases than DropBox. You can find the AntiMicro section here: https://bintray.com/antimicro

Please feel free to comment or raise any concerns. Thanks!

[2016-11-26 16:13] ProfessorKaos64 commented on #84
http://packages.libregeek.org/ has "repo-latest" packages for everything except Ubuntu. I will add that now so you can easily install the repo deb/deb-src lines and track updates.

[2016-11-26 16:23] ProfessorKaos64 commented on #84
Packages will be uploaded to:
https://launchpad.net/~mdeguzis/+archive/ubuntu/libregeek-ubuntu

[2016-11-26 20:30] ProfessorKaos64 commented on #84
Xenial and Yakkety are live. @jsbackus , can you add me as a contributor here so I may close/push etc.? I forget what all you would need to do.

[2016-11-26 21:22] Sinjai opened #87 "Unable to change mouse sensitivity mapped to gamepad buttons"
If I map mouse to left stick, and change the settings to increase mouse sensitivity, it is only increased for the positive X axis. All others remain at default.

[2016-12-02 08:45] tsunrise0 commented on #68
Hey, I followed your instructions and reproduced the crash. I've attached the log file. Hope this helps.
[antimicrolog.zip](https://github.com/AntiMicro/antimicro/files/626658/antimicrolog.zip)

[2016-12-03 07:43] vivredraco commented on #84
@mtdeguzis Thanks for making Ubuntu packages available. Is there any chance you'd be willing to make a 32-bit version available as well? I know there's probably not a ton of people who need it these days, but I recently had to replace my HTPC setup with an old machine from my closet, so I'm on 5-year-old hardware. I might be able to figure out how to build from source (or install one of the i386 .

[2016-12-03 07:52] Zeioth commented on #84
Please be aware that all Ubuntu distributions are going to discontinue 32 bits versions from ["October 2018"](http://www.pcworld.com/article/3089509/linux/end-of-an-era-linux-distributions-will-soon-stop-supporting-32-bit-pcs.html). So in this particular case probably it would be better to get used to compile from source.

[2016-12-03 08:03] vivredraco commented on #84
@Zeioth Thanks for the head's up, that's good to be aware of. Luckily for me that's a long way off yet, so there's a good chance I can upgrade my hardware before then.

[2016-12-03 14:21] mtdeguzis commented on #84
@vivredraco , sure np, I can throw up 32 bits. Simple change to pbuilder command, and done. Probably at some point today or tomorrow if I don't run into any issues.

[2016-12-03 14:45] jsbackus commented on #68
Thanks! Yes, quite helpful. It looks like AM is bombing out in some code that deals with sticks, which is why I can't reproduce it. For whatever reason, my controller has axes instead of sticks. But whatever. I do have another version for you to try, if you would please. This one adds more debug messages in the code in question to see if we can further narrow down what the problem is. You can down

[2016-12-03 21:55] mtdeguzis commented on #84
Done. Adjusted control file so am64/i386 build on Launchpad.

[2016-12-04 11:35] vimr commented on #58
Hi,
I noticed the same issue when using two wireless xbox 360 controllers (connected to the pc via one receiver. ) I'm new to antimicro and i like the tool, but unfortunately i can not use it for now ...

[2016-12-04 15:38] jsbackus commented on #84
Hi @mtdeguzis, thanks! Sorry, been super busy lately. I sent you an invite. Please let me know if you have any problems.

Hi @Zeioth, libsdl2-dev is now listed under the dependencies. Thanks!

[2016-12-04 15:38] #84 closed

[2016-12-04 15:53] jsbackus commented on #87
Yarg. Yeah, that sounds like a bug. What controller are you using? And just to be clear, by "all others remain at default" you mean, positive & negative Y and negative X, correct? Thanks!

[2016-12-04 16:30] jsbackus commented on #58
Hi @vimr, thanks for giving us a try! I hope to get to this soon. I need to resolve a crashing bug first. Thanks!

[2016-12-04 16:40] jsbackus commented on #87
Also, would you please upload a profile that demonstrates this issue? You should be able to attach it to this thread. Thanks!

[2016-12-04 20:52] vimr commented on #58
@jsbackus thanks.

[2016-12-04 23:53] vivredraco commented on #84
Thanks @mtdeguzis, I appreciate it!

[2016-12-06 22:23] LAPIII opened #88 "I can't open the zip file in Windows Vista."
When I clicked on it, a console window appeared for a second and then went away. When I chose to open with 7-zip, I got the following error:

![7zip](https://cloud.githubusercontent.com/assets/7947363/20946434/a4f796aa-bbd8-11e6-8ea2-ac32c50ce9f2.JPG)

I also want to know if I can use the joystick as a mouse in Windows or only games.

[2016-12-06 23:36] mdeguzis commented on #88
I am able to download and unzip both portable releases on Linux. I do have a Windows VM. What program are you using?

[2016-12-06 23:43] mdeguzis commented on #88
I can also open/extra with Windows 7 built in unzip. Not sure what the issues is.

[2016-12-07 01:14] Keith94 commented on #88
@LAPIII Get it from releases instead: https://github.com/AntiMicro/antimicro/releases

[2016-12-07 05:43] qyot27 commented on #88
The joystick can be used as a pointing device in any OS where AntiMicro can run.  AntiMicro won't automatically set it up for that, but the user can manually configure it to work as such.

This is the profile I've been using for over a year and a half to use my Logitech Extreme 3D Pro joystick as a pointing device:
https://gist.github.com/qyot27/4a4ab781737e49ba11c8d4a9ea62f4cf

The button configu

[2016-12-07 08:35] ngoo5tsong5sik opened #89 "Xbox One S controller issues"
I connected the Xbox One S controller to my Windows 10 PC through bluetooth, everything works fine but it has been recognized as a XInput controller, and no respond when I push the guide button.

[2016-12-07 11:35] Papermanzero commented on #89
What is the issue? Xbox One Controllers are XInput Controller by standard.
Do you expect that the guide button has to work?

[2016-12-07 13:15] mdeguzis commented on #88
If you have a separate issue with the joystick settings, please open a ticket for that.

[2016-12-07 13:26] ngoo5tsong5sik commented on #89
In Options > Properties, button 6 never turns blue when I press it. It doesn't work at all in antimicro. The controller is brand new and the guide button works in game, so I'm sure that the controller itself is not broken.

[2016-12-08 01:17] Papermanzero commented on #89
This is normal because the xinput driver with windows 10 predefines the guide button.
It is the same with 360 and old One controllers.

[2016-12-08 05:02] ngoo5tsong5sik commented on #89
Thanks for explaining 👍

[2016-12-08 13:16] mdeguzis commented on #89
@ngoo5tsong5sik , just submit a new issue referencing this ticket. Feel free to close if you are ok with transitioning it there.

[2016-12-08 14:54] ngoo5tsong5sik opened #90 "[Feature] Make the guide buttons on Xbox controllers remappable"
#89

It is the same with 360 and old One controllers.
But this can be a feature request. Make the guide button remappable.

[2016-12-08 14:54] #89 closed

[2016-12-11 16:08] jsbackus commented on #88
Hi @LAPIII, are you still having issues?

[2016-12-11 17:08] jsbackus commented on #90
Interesting... Does anyone know if the guide button works as expected under Linux and/or MacOS?

I saw [this](https://forums.tigsource.com/index.php?topic=26792.0). Near the bottom of the thread, someone discusses a hidden method in the driver (at least on Windows) for getting a handle to the controller without the guide button pre-mapped. Not sure how recent (or accurate) that information is. I t

[2016-12-11 22:22] qyot27 opened #91 "[Feature request][Windows] Add option for faking mouse ID / force cursor"
This wasn't a problem on XP since the support for touchscreens was [virtually?] non-existent, but it would appear that newer versions of Windows exhibit a really annoying behavior: if AntiMicro is controlling a joystick which is configured as a pointing device, the cursor will only appear on-screen if there's also a mouse plugged in.  Unplug the mouse, the cursor disappears, although the joystick

[2016-12-13 04:24] qyot27 commented on #91
I've been able to work around the problem by installing the virtual hid device for pen tablets available here at http://support.lenovo.com/us/en/downloads/ds004071

I'm not sure if it's actually possible for AntiMicro to emit the right signals to fake the HID and allow this all on its own, since it appears to need driver-level finagling to do.  But since it may not always be possible to install th

[2016-12-16 12:00] jsbackus commented on #91
Hi @qyot27, nice workaround! Yes, I think it beyond the scope of AntiMicro to emulate hardware. Probably the most we would do is create our own mouse pointer. I'll add your fix to the wiki when I get a chance. Thanks for tracking it down!

[2016-12-16 12:17] jsbackus opened #92 "Allow users to give controllers aliases"
We could allow users to assign different controllers (based on GUID) an alias. If none specified, fall back to SDL name. This would resolve confusion on systems that use Xinput, since everything is a freaking "XInput Controller"...

[2016-12-16 12:18] jsbackus commented on #58
(excuse me while I make some notes / talk to myself.. :smile: )

Tab name is a combination of `joystick->getSDLName()` and `joystick->getName()` (see `makeJoystickTabs()` mainwindow.cpp), and `joystick->getName()` is "Joystick" or "Game Controller" and the result of `getRealJoyNumber()`, which ultimately comes from InputDevice.

The device combo box in the auto profile dialog appears to be compris

[2016-12-16 23:32] jsbackus opened #93 "Remove device name from AutoProfileInfo"
AutoProfileInfo should only work with the GUID. Keep it in the dialog because it is easier for users, but convert to/from GUID. This will make it much easier to implement #92 and will help with #58.

[2016-12-16 23:55] jsbackus commented on #44
Looks like AM does use the same widget - except when the auto profile in question is the default. This is confusing, plus there is no clear way to change whether a profile is the default or not...

[2016-12-16 23:58] jsbackus opened #94 "Give auto profile configurations a name"
This will at least make it easier to understand what is going on in the configuration dialog.

[2016-12-17 00:16] jsbackus opened #95 "Deprecating SDL1"
SDL2 has been out for several years now and is hopefully available everywhere. If there is a good reason to keep SDL1 support, please let me know. Otherwise, I'm planning on removing support for it.

[2016-12-17 00:50] jsbackus commented on #93
Need to wait on #95, as SDL1 doesn't support GUIDs.

[2016-12-17 02:05] jsbackus opened #96 "Create a helper function to populate auto profile table"
Need to refactor mainsettingsdialog.cpp to use a helper function to populate a specified row in the table with a specified AutoProfileInfo object.

[2016-12-17 02:08] jsbackus commented on #96
Also convert hard-coded column references to using local const variables.

[2016-12-17 03:07] jsbackus opened #97 "Change settings format"
Currently, Windows settings are stored in the registry (for installed versions) or INI files (portable). The registry is nice and all, but it prevents users of the installed version from sharing advanced config beyond the profiles, and it prevents users from sending in their configs for debug. Plus, the INI file is somewhat limited. So, we should consider replacing the registry/INI file system wit

[2016-12-17 03:49] jsbackus commented on #96
Looks like there are some instances where the original code wasn't updating the window class or name fields for default profiles. This wasn't consistent, and the exec field was always being updated. Might make sense to gray out the window class and name as well as exec fields when default is true...

[2016-12-17 03:59] jsbackus opened #98 ""Default for controller" checkbox doesn't init properly"
Checkbox is grayed out on dialog open, even if a controller is selected (as opposed to "all"). Also, it is unchecked on open, regardless of "default" setting of profile.

[2016-12-17 04:01] jsbackus opened #99 "Default field in AutoProfile table is editable."
Should be read-only. Edits should happen through dialog box.

[2016-12-17 04:09] jsbackus commented on #96
Yep, need to gate exec, window class, and window name when default is true. Prefer to gray them out, as there is still data there.

[2016-12-17 04:14] jsbackus opened #100 "Double-clicking on read-only cells in AutoProfile table should open edit dialog."
Currently, double-click is ignored.

[2016-12-17 04:29] #96 closed

[2016-12-17 04:29] #99 closed

[2016-12-18 01:53] jsbackus opened #101 "Integrate git branch and sha1 into about dialog for test cases"
We need a way to track if a user is using an official release or a test build, preferably an automatic way. It looks like there is a way to import info from git with some of these submodules:
https://github.com/rpavlik/cmake-modules

Here's a StackOverflow question regarding it:
https://stackoverflow.com/questions/1435953/how-can-i-pass-git-sha1-to-compiler-as-definition-using-cmake

[2016-12-18 03:32] jsbackus commented on #88
I'm assuming things are working now, so I'm going to close this. Please let us know if you have any issues. Thanks!

[2016-12-18 03:32] #88 closed

[2016-12-18 03:48] jsbackus opened #102 "Clean up commandline help"
May need to be updated. Not sure what the differences is between printHelp() and generateHelpString(). Need to refactor to reuse as much as possible. Current version is not pleasant to maintain.

[2016-12-18 03:57] jsbackus opened #103 "Replace WiX"
Not very impressed with it, particularly since it isn't very Wine friendly. It has been a while since I've used [NSIS](http://nsis.sourceforge.net/Main_Page), but I remember being pretty happy with it. Have to give it another look. Since this will be rather disruptive (user will likely have to manually uninstall previous version), we'll target the next major release.

[2016-12-18 04:20] jsbackus commented on #58
Need to revamp how profiles are auto-loaded. Current method assumes same profile for each controller, so need to change the signal/slot to take device index. Current method is also potentially called multiple times: once for the best match based on program, once for the default for the controller, and once for the "all default". Should change original match algorithm to only emit once...
Reference

[2016-12-18 05:04] jsbackus commented on #101
Complete. In order for this to work, the following files from rpavlik's cmake-modules need to be installed in `cmake_lib/`:
* GetGitRevisionDescription.cmake
* GetGitRevisionDescription.cmake.in

Might consider adding a submodule / subtree reference to rpavlik's repo, but for now manually copying files over is sufficient.

[2016-12-18 05:04] #101 closed

[2016-12-18 21:23] jsbackus commented on #68
Hi @tsunrise0, have you had a chance to try out the second test case? I know you're busy, but if you do have a chance, I will have a little time coming up and would like to work on this. No worries if you have too much going on. Thanks!

[2016-12-18 22:54] rigby333 opened #104 "Random Switching"
I made a profile for Jedi Outcast, but whenever I activate the profile then go to steam, AntiMicro automatically switches to a "new" profile, then when I have Outcast opened and switch back to the correct profile, no button inputs are registered.(I also have trouble with auto profiles for the Jedi Knight/Dark Forces games, but those are likely user errors). Am I just doing something wrong?

[2016-12-19 02:19] jsbackus commented on #104
Hi @rigby333, um, possibly? :smile: It is tough to tell without seeing your config. Are you on Windows? If so, what version? What version of AntiMicro? If Windows, did you install via the MSI or are you using the portable version?

[2016-12-19 02:59] rigby333 commented on #104
I'm on Windows 7, version 2.23, and I believe I used the MSI.

[2016-12-19 03:26] rigby333 commented on #104
i'd just like to specify, that I fully expect autoprofile fails to be my fault, and sent this primarily about the random switching.

[2016-12-19 05:56] tsunrise0 commented on #68
Hey there, @jsbackus . Sorry about that, recently got my hands on the Steam Controller and was fiddling with it. I've carried out the test as usual and attached the log file. Sorry for taking so long, I intended to do this earlier but kinda forgot about it.
[antimicro.zip](https://github.com/AntiMicro/antimicro/files/660166/antimicro.zip)

[2016-12-22 02:20] jsbackus commented on #104
Great! Thanks! When you get a chance, would you please send me a screen shot of your autoprofile config window? I just need the dialog box with the config settings.

Depends on what is happening with the switching. AM is supposed to switch to the default profile if you switch to a window that does not have an autoprofile setup (including simply switching away from your game). If you don't have a d

[2016-12-22 02:22] jsbackus commented on #68
:astonished: *wow* that's big! I was expecting big-ish, but not that big. Looking at it, there is a whole lot of "nothing", which I suspect is our problem. I will look at this more when I have a chance.

No worries! I'm just grateful that you've taken the time to generate these log files for me. I really appreciate it!

[2016-12-22 15:59] Ryochan7 opened #105 "Some Suggestions"
I'm sure I will get flack from some disingenuous people and the Wiimote brigade but here it is. Some of these suggestions come from experimenting with the Wiimote and the Steam Controller.

1. Make vmulti support work again for Windows users

This one is my fault. I had been using a customized version of vmulti and I had been building antimicro using that VID+PID combination. Because of this, I wa

[2016-12-23 00:15] rigby333 commented on #104
Here you go, I think these are what you metioned.

http://i.imgur.com/w23spgW.png

[Jedi.txt](https://github.com/AntiMicro/antimicro/files/670097/Jedi.txt)

[2016-12-23 01:46] rigby333 commented on #104
Update for what I did: Running antimicro as admin seemed to fix my problem of "game not picking up controls when I manually change them" for Outcast, but I'm still not sure how to get it to work for a game where I can't alt+tab out like Dark Forces 2

[2016-12-23 01:50] rigby333 commented on #104
A crude solution may be to set my "dark forces 2" profile as default, but I'm not sure how to set a default profile

[2016-12-24 15:31] jsbackus opened #106 "Fix vmulti Support"
Looks like vmulti has moved to [here](https://github.com/djpnewton/vmulti). See conversation in issue #105.

[2016-12-24 15:33] jsbackus opened #107 "Cut off mouse distance remainder"
Update `JoyButton::moveMouseCursor` to limit step to every hundredth of a pixel or so. Should smooth out the mouse pointer movements. See conversation in issue #105.

[2016-12-24 15:36] jsbackus opened #108 "Make mouse distance limit event handler dependent"
Current movement range limit of [-127,127] comes from vmulti, but this value appears to vary across backend implementations. See conversation in #105 for more info.

[2016-12-24 15:38] jsbackus opened #109 "Add mouse distance offset"
To improve sluggishness for slight movements, add a small offset to the curve calculation in `JoyButton::mouseEvent`. See issue #105 for more info and example code.

[2016-12-24 15:44] jsbackus opened #110 "Change delta acceleration"
See conversation in issue #105 for suggestions and code for cleaning this up. Might be related to issue #72.

[2016-12-24 16:04] jsbackus commented on #106
Might also help address #91, and may help us implement a solution to #64.

[2016-12-24 16:04] jsbackus commented on #105
Helloooo @Ryochan7! Good to hear from you! Thanks for the input - *very* helpful.

Re: vmulti - interesting! I wasn't familiar with the project, beyond references in the code. Yeah, I think that would be a very useful feature to get working. Not surprised if performance seems a little better. SendKeys / SendInput, etc. have to go through all kinds of security checks each call.

Re: mouse improveme

[2016-12-24 16:05] toccata10 opened #111 "startSet problems"
1st: thanks for antimicro: it's terribly usefull !
My situation: I have 2 custom arcade sticks (with 2 zero delay usb encoders).
I've created several sets to play different games. Launching antimicro, selecting the correct sets, then launching the game works perfectly.
I'd like to script the whole process.
So I'm trying to assign the set n°4 to the 2nd stick with this:
antimicro --profile /home/jo

[2016-12-24 16:14] jsbackus opened #112 "Merge patch from 105 into mainline"
Patch applied cleanly and is in branch issue_105_patch. Need to merge changes into mainline, where appropriate.

[2016-12-24 17:18] jsbackus commented on #104
Hi @rigby333, thanks for the log and the image. It looks like AM is loading "Jedi Knight 2.gamecontroller.amgp" instead of the "DarkForcesII.gamecontroller.amgp" profile shown in your image. Try removing that autoprofile config.

With regard to the default profile, the first profile in the list should be the default (look at the 'default' column, all the way on the right). That wouldn't help in th

[2016-12-24 17:20] jsbackus opened #113 "Add date to 'logging started' log statement"
Since the log file is appended to, it is difficult to figure out what statements are from what day. Don't think it is necessary to incorporate the date into every log statement, but adding it to the "logging started" line would make it easy to search the log.

[2016-12-24 17:28] jsbackus opened #114 "Revamp CLI to allow different profiles/sets to be specified for different controllers"
See issue #111.

[2016-12-24 17:29] jsbackus commented on #111
Hi @toccata10, welcome! Glad you are enjoying antimicro. Also, props for the custom arcade sticks. Build them yourself?

Hmm. Interesting.. Yeah, it sounds like there are issues with specifying the starting set for controller != 1, which would be a bug. It also sounds like we might need to revamp the CLI to make it easier to applying different profiles/sets to different controllers.

I'm marking t

[2016-12-25 09:33] Papermanzero commented on #110
[Feature] Delta Acceleration for Mouse Speed #72

[2016-12-25 09:36] Papermanzero commented on #105
@Ryochan7
Thanks a lot for the suggestions. :)

I have also a question with regard to the Wiimote. I saw your Youtube Videos which are amazing.
Do you plan to release an application to configure the Wiimote on the PC (something like Antimicro, however only for the Wiimote)?

[2016-12-25 21:33] toccata10 commented on #111
Hi @jsbackus,
Thanks for your very quick answer. Back from the christmas lunches, I did a few more tests:
I create 2 different profiles (your suggested workaround) and try to apply them to my 1st and 2nd sticks:
1st try:
antimicro --profile-controller 1 /home/jo/AM-Stick-10.joystick.amgp &
antimicro --profile-controller 2 /home/jo/AM-Stick-USF4.joystick.amgp &
Result: AM-Stick-10 for both controll

[2016-12-28 03:07] jsbackus opened #115 "Look for memory leaks in AutoProfileWatcher::syncProfileAssignments()"
In a few places we are creating new instances without any deletes. The assumption is that the new profile object will satisfy one of the many if statements, however, a profile without any program parameters will fall through the cracks. These instances need to be safely reclaimed. Also remove from settings?

[2016-12-29 08:37] rigby333 commented on #104
I managed to figure out a solution, thank you for your help.

[2016-12-30 00:38] Ahujtmg commented on #68
Hi, Sorry to jump in, but I am also getting this error but only when I set my right stick to EIGHT WAY. No other changes made before crash. I have reproduced it several times. Not sure if that helps. Love the program. :)

[2016-12-30 03:23] adhoc92 opened #116 "Can't setup WASD correctly,"
Is there a way to set up WASD (in this example, for walking around in Elder Scrolls: Oblivion) so it isn't wonky? I've tried every option (as far as I can tell) and I absolutely cannot get it right.

[2017-01-01 21:24] Ryochan7 commented on #105
@Papermanzero

Probably not. I don't have a real need to make a new project for using the Wiimote. MoltenGamepad works fairly well although it can be a hassle to keep recompiling in order to test different settings. Touchmote was decent but that project is hardly ever active and there are some pressing problems with the software that should have been fixed a while ago. I should upload a patch for

[2017-01-02 02:57] santiagohdzb opened #117 "Add support for conditionals in advanced key mappings"
Hi!

Thanks for your great job here, I would like to suggest a feature that I think would be very useful for some games out there. In advanced settings of a mapping I would like to add a condition like: if a button is pressed for less than 0.20s it would emulate some key, otherwise if it's pressed for more than 0.20s another key would be emulated.

Thank you

[2017-01-03 14:25] Papermanzero commented on #105
That's a pity. I saw already MoltenGamepad and your improvements, however it is only for Linux.
I know that the Wiimote has a lot of potential, unfortunately it is currently unused.
Therefore I am looking for years for a solution which can be used for Windows/Linux(Mac).

[2017-01-03 18:30] LAPIII opened #118 "Help with mouse to joystick profile."
This profile allows using a joystick as a mouse in any operating system (Given to me by qyot27):

[4a4ab781737e49ba11c8d4a9ea62f4cf-91dab933755f451f111d22b9fee09a49487085ff.zip](https://github.com/AntiMicro/antimicro/files/682929/4a4ab781737e49ba11c8d4a9ea62f4cf-91dab933755f451f111d22b9fee09a49487085ff.zip)

Now when I open Antimicro, the pointer moves to the left. The profile was made with a Logi

[2017-01-04 07:30] qyot27 commented on #118
You probably need to use the Update Joysticks feature (Ctrl+U when the AntiMicro window is focused), and then go into the individual button configurations and adjust the mouse dead zones to your model's sensitivity.  That profile is mostly a guide, not a be-all end-all solution; customizing it to the quirks of different models will more than likely be necessary.

[2017-01-04 10:09] shawn82 opened #119 "Not working in screen 2"
I using this to play my game Path Of Exile, when i using my primary screen to play no problem with it,
If i use my secondary screen to play using joystick, not working, the mouse stick to move my character, the mouse stick to bottom line of the game screen.

[2017-01-04 18:25] Ryochan7 commented on #105
It is too bad that support for the TR version of the Wiimote is spotty at best on Windows. Neither the working versions of WiimoteLib nor Wiiuse can obtain the data from the gyro. Although IR mode can work I much prefer to use the gyro. Getting an older Wiimote and the dedicated Motion Plus extension is an option but I like the TR remote and I would prefer to use that instead. The TR Wiimote works

[2017-01-04 18:47] Papermanzero commented on #105
Yes, I saw that in your videos and I am still amazed.

In general an approach to configure the wiimote in 3 ways would be great.
- An absolute system based on the pointer (which is useful for strategy games or RPG games)
- A relative system based on the pointer (the metroid prime 3 approach, which you implemented in Touchmote)
- A relative system based on gyro (Skyward Sword solution)

However all

[2017-01-07 00:54] jsbackus opened #120 "Allow user to specify profile and set names."

[2017-01-07 01:07] jsbackus commented on #119
Interesting.. What operating system? What is the resolution of your primary screen? your secondary screen?

[2017-01-07 01:10] jsbackus commented on #118
Are you using this under Linux? Linux doesn't store calibration data for analog sticks. You may need to go to Options -> Properties and rotate your analog stick(s) through their range of motion. Then things should behave as expected.

[2017-01-07 01:11] jsbackus commented on #117
Hi @santiagohdzb, thanks for the suggestion. Have you tried the [tap & hold](https://github.com/AntiMicro/antimicro/wiki/Advanced-Assignments) feature under advanced settings?

[2017-01-07 01:12] jsbackus commented on #116
Hi @adhoc92, so sorry for just now getting back to you. Can you give more details? How is it wonky?

[2017-01-07 01:13] jsbackus commented on #68
@Ahujtmg Interesting! Thanks for the additional datapoint. I'll take a closer look at that. I suspect that eight-way may be borked. Thanks!

[2017-01-07 01:14] jsbackus commented on #104
Great! Glad you were able to figure out a solution. Happy Gaming!

[2017-01-07 01:14] #104 closed

[2017-01-07 01:16] jsbackus commented on #111
Hi @toccata10, sorry for taking so long to get back to you!

Glad you have a solution that works. Very much a hack. We'll fix it. Thanks!

[2017-01-07 07:55] shawn82 commented on #119
I'm using Windows 10 (both of my resolution is 1920 x 1080, monitor and TV)
Please check the image link below
https://s30.postimg.org/jl6qd8uox/image.png
https://s30.postimg.org/r2fxsgk81/image.png
https://s30.postimg.org/mhtrdj0ip/image.png

[2017-01-07 10:55] EternalDahaka commented on #116
Does this have to do with just WASD, or also implementing the walk/run SHIFT distance options?

If it's the distance issue, you might try binding it to the modifier button in the stick settings if you haven't already.  If you set it up individually for each WASD bind, the SHIFT function can cancel each other out, and be reversed in the diagonals.  If you do an eight-way, movement's janky switching

[2017-01-09 06:04] EternalDahaka opened #121 "More Options for Mouse Acceleration"
This are just some ideas to further increase the options available.  Some of these things might not fit on the interface, even if they were considered.  Just tossing them out there.

**Edge/Easing Acceleration**
We already have some options for this with the Quadratic Extreme and Easing variants, but it might be good to be able to separate the options for this.

The threshold for this can be contr

[2017-01-09 21:28] adhoc92 commented on #116
Just WASD, actually. I just have it set to run constantly.

________________________________
From: EternalDahaka <notifications@github.com>
Sent: Saturday, January 7, 2017 5:55:44 AM
To: AntiMicro/antimicro
Cc: Connor; Mention
Subject: Re: [AntiMicro/antimicro] Can't setup WASD correctly, (#116)

Does this have to do with just WASD, or also implementing the walk/run SHIFT distance options?

If it'

[2017-01-10 00:56] santiagohdzb commented on #117
Oh wow, no I haven't tried, but I think that's what I need. Thanks

[2017-01-15 00:47] wancharle commented on #68
+1
happens to me too. same case, when i put right stick on eight ways and select a set the app crash, i am trying old versions to see any one works. I set debug mode, but log show nothing important...

[2017-01-15 00:49] wancharle commented on #68
only happens when select sets with right stick 8 ways, empty sets i can select and dont crash.

[2017-01-21 06:18] Dave-LeDev opened #122 "[Suggestion] Set Multiple Actions Based on Axis Range"
Would this be implementable for all axis controls?

**Example for movement to sneak, walk, and run:**
Joystick (0% - 20%)
Modifier - Ctrl

Joystick (20% - 40%)
Modifier - None

Joystick (40% - 100%)
Modifier - Shift

**This would also be handy for triggers. Example for a bow:**
Trigger (10% - 80%)
"Ready Weapon Key"

Trigger (80% - 100%)
"Release Weapon Key"

[2017-01-21 10:11] Ketchup901 opened #123 "Is this supposed to be able to control LEDs?"
If I recall correctly, the first time I used antimicro it turned off all LEDs except LED 1. Every time after that, they continue flashing. If it's supposed to be able to control the LEDs, it's not working for me, or I cannot find the option to do so. If not, could it be implemented?

I'm on Arch Linux with Cinnamon.

[2017-01-22 01:34] inukaze commented on #71
I under Slackware64 and antimicro (git version) dont detect when i press buttons or axis. i am using SDL2 . on another distros works fine like ArchLinux and Debian

[2017-01-22 02:18] docmars commented on #90
Any ETA on this?

I've been using antimicro for a little over a year and on Windows 10, and able to map the Guide button using it on my Xbox One controller. I recently did a reinstall of Windows and installed antimicro 2.23 and cannot get it to recognize any input from the Guide button now.

I've also disabled the Xbox DVR functionality in the Xbox app, which is normally tied to the Guide button b

[2017-01-22 16:03] slacknk commented on #71
inukaze , interesting, because on my system works fine
[code]
my keys for building ( git reset --hard origin/dev ):
[code]

[2017-01-22 16:26] inukaze commented on #71
Thank you i recompile yesterday with that exact options, except i dont use QT_SELECT=4 , and works fine right now :D

i use had `slpkg` to build the  `SDL2` package from Slackbuilds.org :D

[2017-01-22 16:54] slacknk commented on #71
I don't know, but maybe is not easy with new qt5 (Aline's 5.7)
like as qb-qt5 (qt-5.6_SBo) https://slackbuilds.org/repository/14.2/network/qbittorrent-qt5/

[2017-01-23 05:14] inukaze commented on #71
Its impossible for me use QT5, the compilation evers fails, after 8 hours

[2017-01-25 08:22] EternalDahaka commented on #122
This is already possible with the distance function, with the modifier option or individual axes.  Go to the advanced section and set the modifier up something like this:

CTRL, distance 20%, distance 20%, SHIFT

CTRL will be a modifier from after the deadzone to 20% inward, nothing between 20-40%, and SHIFT after 40%.
I might recommend SHIFT being higher than 40% though.  Maybe 80-100%.

Triggers

[2017-01-25 22:10] glubsy opened #124 "[Arch Linux] Fails to start due to Qt5 variable (solved)"
On Antergos (Arch x86_64) I get the following line over and over until antimicro finally segfaults or I kill it:

It happens if I have the following variable set in my environment, while using i3 window manager:

If I unset this variable, antimicro starts fine, the tray icon is there too even though I started it with -no-tray, but I get no icons or theming in the program at all:

I have qt5ct inst

[2017-01-26 08:10] Papermanzero commented on #122
Yes, it is already possible. Therefore it can be closed.

[2017-01-28 02:40] Dave-LeDev commented on #122
I'm running the latest build but I'm not seeing this option available. Can you provide a screenshot?

[2017-01-28 02:45] Dave-LeDev commented on #122
Scratch that! Found it.  I was expecting the Distance feature to be with the Dead/Max Zone controls.

[2017-01-28 02:45] #122 closed

[2017-01-28 04:32] Dave-LeDev opened #125 "[Suggestion] Bearing as Input"
I've not found a way to do this, but I see bearing is reported on joysticks. I'd like to use bearing to output percentage as text with a delay between outputs.

Application:
Photoshop can change opacity of the brush with numerical input.

Example:

- Bearing 0
- - Opacity 0%
- - Text Output: 000
- Bearing 270
- - Opacity 25%
- - Text Output: 025
- Bearing 180
- - Opacity 50%
- - Text Output: 050
-

[2017-01-28 14:56] Dave-LeDev commented on #125
Just thought of a more elegant way of going about it.

Have the option to treat bearing as an axis. Then I could do Distance as normal and get the same desired results.

[2017-01-30 02:57] Dave-LeDev commented on #117
If this was the fix, please mark as resolved. :)

[2017-01-31 02:33] rod-stuchi commented on #124
This should work as well:

[2017-02-04 10:37] luigino opened #127 "Rpmlint complaints with gcc6"
[code]

[2017-02-06 12:42] JonnyTech opened #128 "Run as windows service"
Can AntiMicro run as a Windows service so that if the process end then it can automatically restart?

[2017-02-07 19:54] Warriors-Blade opened #129 "Is this feature possible?"
I was wishing to set my controls up for KOTOR like this - http://pinnaclegameprofiler.com/pc-controller-support/alpha-gamepad-joystick/xbox-360-ps3-psx-etc/star-wars-knights-of-the-old-republic

and it appears there is no way to set a toggle button to change the function of every other button while that button is pressed.

Any help is most appreciated.

[2017-02-08 03:50] qyot27 commented on #129
Click on one of the other 'Sets' at the bottom of the AntiMicro window.  Set the when-pressed controls on that Set.  Go back to the main Set, and configure one button to switch Sets to the one you just configured when pressed.

I use that ability to make the twist axis on my joystick move the pointer vertically when pressing the switch-set button.  It's horizontal otherwise.

[2017-02-08 08:39] Warriors-Blade commented on #129
Thanks a bunch qyot27, I got it somewhat figured out a day or two ago.

It was pretty hard to spot that feature but man is Antimicro killing all of those closed source junkware .

[2017-02-09 15:46] Hevra88 opened #130 "Does this work with the 3dRudder?"
Hiya,

I have a paralysed left arm & bought a 3dRudder to replace WASD for  WoW & other MMOs. They recommend joytokey but for the life of me I can't get it to work properly. Does this program work with the 3dRudder?

[2017-02-10 19:58] #117 closed

[2017-02-12 14:10] Efr3D commented on #130
Hi,

You can find a new Dashboard of the 3dRudder on 3drudder.com
Thanks to this Dashboard, you can emulate a Keyboard, a mouse, a joystick .
With it, it's not necessary to use JoytoKey.
You can also to find some games preset in the Dashoard.
If you require any further information, feel free to contact us.
support@3dRudder.com

[2017-02-15 18:10] jsbackus opened #131 "Temporary Hiatus"
Hi folks,

Unfortunately, I have some things going on that prevent me from giving AntiMicro any attention. Hoping to get back to this soon, but it may be a month or so more.

Thank you for your patience and understanding. Please keep the issues and suggestions coming. We'll get going again as soon as we can.

[2017-02-15 18:12] jsbackus commented on #116
Hi @adhoc92, any luck?

[2017-02-15 18:16] jsbackus commented on #119
Hi @shawn82, sorry to take so long to get back to you (see #131). What happens if you configure your screens for side-by-side? (Disorienting, I know, just want to see if AntiMicro behaves differently). Thanks again for your patience!

[2017-02-15 18:18] jsbackus commented on #123
Hi @Ketchup901, sorry for taking so long to get back to you (see #131). Which LEDs are you referring to? Keyboard LEDs? LEDs on controller?

To my knowledge, we don't currently support any form of LED control. What did you have in mind?

[2017-02-15 18:20] jsbackus commented on #128
Hi @JonnyTech, sorry for taking so long to get back to you (see #131). That is an interesting suggestion... Currently, no, we can't run as a service. It has been a while since I've worked with services, but I don't think this would be a difficult feature to add. I'll look into it more once I have time to work on AntiMicro. Thanks for the suggestion!

[2017-02-15 18:22] jsbackus commented on #127
Hi @luigino, sorry for taking so long to respond (see #131). Thanks for the tip! I'll take a look at it when I get a chance. Does AntiMicro work okay with gcc6 otherwise? I haven't had a chance to use AntiMicro since updating to Fedora 25...

[2017-02-15 18:25] jsbackus opened #132 "-no-tray may be broken"
It came up in #124 that tray icon still appears, even though -no-tray was used. Need to verify and debug.

[2017-02-15 18:26] jsbackus commented on #124
Hi @glubsy, sorry for taking so long to respond (see #131). Interesting! I haven't had problems with Notion + StaloneTray. Looks like we may have a bug in the -no-tray code. I'm marking this issue as documentation and I've opened #132 to track the -no-tray issue. Thanks!

[2017-02-15 18:29] jsbackus commented on #129
Hi folks, sorry for the late response (see #131). Glad you were able to get it sorted out. At some point I will try to tweak the UI to make it easier. Please feel free to offer suggestions for improvement or highlight things that are more difficult than they should be.

I'll go ahead and close this since it sounds like it is resolved. Thanks for using AntiMicro!

[2017-02-15 18:29] #129 closed

[2017-02-15 18:32] jsbackus commented on #130
Hi folks,

Sounds like 3dRudder has you covered (thanks for chiming in, @Efr3D!). I am not familiar with the 3dRudder, but if it does emulate a joystick, then you should be able to combine it with AntiMicro if the need arises. Please feel free to contact us if you have any problems.

Happy gaming!

[2017-02-15 18:32] #130 closed

[2017-02-15 18:34] jsbackus commented on #121
Hi @EternalDahaka, sorry for taking so long to get back to you (please see #131).

Interesting ideas! Please keep them coming! I'll mark this as an enhancement request and we'll take a closer look at it in the future.

[2017-02-15 18:37] jsbackus commented on #125
Hi @Dave-LeDev, sorry for taking so long to get back to you (see #131). Interesting suggestion! I believe I fully understand what you're asking for. Implementation itself shouldn't be difficult. Tricky part is figuring out how to make it generic enough. I'll think on it some more when I have time and we'll take a look at adding it.

Thanks for the suggestion! Please keep 'em coming!

[2017-02-15 18:39] jsbackus commented on #68
Hi all, sorry for taking so long to respond (see #131). Don't have time to work on AntiMicro at the moment, but this is the first issue I will be coming back to. Thanks for your patience!

[2017-02-15 18:43] jsbackus commented on #90
Hi @docmars, sorry for taking so long to get back to you (see #131). Currently no ETA. Hoping to work on this when I can devote time and attention to the project.

Since this appears to be an issue with the hardware driver, I suspect that at some point Microsoft modified the driver to treat the Guide button as a traditional button. If you have an old copy of the joystick library lying around, you

[2017-02-15 18:46] jsbackus commented on #71
Hi all, sorry for the late reply (see #131). It sounds like you are having to use Qt4? Is that correct?

[2017-02-15 19:01] luigino commented on #127
Can't say I've really tested it, I'm merely packaging it for openSUSE.
Anyway I patched it like this, I hope it's what you meant:
[code]

[2017-02-15 19:19] jsbackus commented on #127
Yes, your change looks fine. Would you please create a pull request? I'd
like to incorporate that into the mainline. Thanks!

On Wed, Feb 15, 2017 at 2:01 PM, Luigi Baldoni <notifications@github.com>
wrote:

--
Jeff Backus
jeff.backus@gmail.com
http://github.com/jsbackus

[2017-02-15 20:52] luigino commented on #127
Done [#133](https://github.com/AntiMicro/antimicro/pull/133).

[2017-02-15 21:55] slacknk commented on #71
No, we have a choice. In slackware-14.2 (stable/release) only qt4
Qt5 in third-party package repository too or (SBo) building from sources.

Now, I'm tried build (2.23) from origin/dev git on x86_64
with SDL 2.0.5 and Qt 5.7.1 - works fine! Qt5 from AlienBOB's repository
http://bear.alienbase.nl/mirrors/people/alien/sbrepos/14.2/x86_64/
`# slackpkg install "qt5-5 qt5-webkit libinput libxkbcommon l

[2017-02-15 22:09] JonnyTech commented on #128
No problem @jsbackus, real life should always take priority :) Thanks for considering the suggestion.

[2017-02-16 00:06] Dave-LeDev commented on #125
Generic in its presentation, do you mean? I think a check box would do the trick: "Use As Slider".

[2017-02-21 23:20] Dave-LeDev commented on #128
I'm about to try this; this may be a good temporary fix.
https://www.howtogeek.com/50786/using-srvstart-to-run-any-application-as-a-windows-service/

[2017-02-22 21:45] Dave-LeDev commented on #131
No worries; hope everything's well on your end!

[2017-02-26 12:32] yarnweaver opened #134 "enhancement: feature request: variable turbo on analog axis"
Hi all, apologies if this has already been raised - but I'd like to see a new feature of variable turbo on the analog axis.

At the moment, a button can be assigned as turbo, and the turbo timings can be changed - but it seems you can't currently have turbo timings changed according to analog axis position (except maybe by defining a macro that divides an analog axis up into segments that treats e

[2017-02-27 18:14] JonnyTech commented on #128
Good luck - I found similar programs to be unreliable.

[2017-03-08 19:48] ssokolow commented on #123
If you mean 360 controller LEDs, that's controlled by the driver, not Antimicro.

(The Linux kernel's built-in driver has simple "light the LED one higher than the last controller we saw, with wraparound" behaviour when working properly, which you can see by plugging and unplugging the same controller. `xboxdrv` has an `--led` option which is documented in `man xboxdrv`.)

[2017-03-21 08:42] jibtga opened #135 "antimicro daemon mode"
Hi
I'd like to launch antrimicro in daemon mode without any graphical interface, using SSH, Antimicro is installed in windows 10, but when I launch this command:
antimicro --daemon path_to_profile/profile_file

It doesn't work, always it show graphical interface so it doesn't work over SSH. Am I forgetting something?
Could I launch Antimicro over SSH without graphical interface?

Thanks in advance

[2017-03-21 18:56] chasegr4h4m opened #136 "Spring Cursor is broken (Windows)"
When setting screen option to 0 or 1, the spring cursor stops working all together.  Someone suggested a feature to allow the user to select the home position of the cursor. That would fix the issue and would be better all around.

[2017-03-25 15:11] jsbackus commented on #127
Hi @luigino, sorry for taking so long to get back to you. Thanks for the PR! Merged.

[2017-03-25 15:11] #127 closed

[2017-03-25 15:15] jsbackus commented on #71
Hi @slacknk, thanks for the confirmation.

@inukaze, would you please try to build with Qt5? We will be officially deprecating Qt4 soon (#79). Unofficially, we've probably already broken it in the dev branch...

[2017-03-25 15:17] jsbackus commented on #125
Ah! Good suggestion!. Much easier to represent, too. 😃 Thanks!

[2017-03-25 15:19] jsbackus commented on #131
Thanks! Ups and downs, but luckily it isn't anything unmanageable.

[2017-03-25 15:22] jsbackus commented on #134
Hi @yarnweaver, interesting suggestion! We'll add it when we get a chance.

Yes, any help is certainly appreciated. I'm still on a temporary hiatus (#131), but I do try to look in as I have time. If you do take a poke at it, please feel free to send a PR and we'll take a look at it.

Thanks!

[2017-03-25 16:05] jsbackus commented on #123
Ah, great, thanks for the info @ssokolow!

Since LibSDL doesn't appear to have the capability of setting the controller LEDs, I'm reluctant to add support to AM. Thanks for the request, however. Please keep the ideas coming!

[2017-03-25 16:05] #123 closed

[2017-03-25 16:10] jsbackus commented on #135
Hi @jibtga, re: trying to launch AntiMicro over SSH on Windows: :clap:

Unfortunately, I am still learning the details of the commandline options. Try `--hidden` to disable the main window. You may also need to use `--no-tray` to disable the tray icon.

Hope that helps!

[2017-03-25 16:20] jsbackus commented on #136
Hi @chasegr4h4m, hmm... Can you give me a little more detail? Are you using a multi-head setup?

The suggestion you are referring to is #61, correct?

[2017-03-25 16:48] jsbackus opened #137 "Add a CONTRIBUTING.md"
Looks like GitHub has special hooks that respond to this file. Should move info re: contributing out of README and into this file. Need to also explicitly mention that contributions will be governed by the GPL v3.

[2017-03-25 16:50] jsbackus opened #138 "Move gpl.txt to LICENSE"
GitHub has hooks to display the project's license by autodetecting it if it is in a file named LICENSE.

[2017-03-25 18:38] AlanRibas opened #139 "AntiMicro running with GameEx"
Good morning people.
I use a frontend called GameEX. Gameex is a program that we can configure several video game emulators to run on a single interface. This program works through command lines.

I used to use gameex together with "Xpadder", which is a program that works similar to Antimicro. It turns out that for a series of incompatibilities with xpadder I decided to use AntiMicro.

I took a lo

[2017-03-27 19:02] RegularGonzalez opened #140 "Uninstall?"
Not a popular question, I guess, but on Windows 10, how do I uninstall AntiMicro? I installed it to be able to use a Witcher 3 file, but I now want to find out if it's the source of a problem I have with controller going dead on other games like Mad Max and Skyrim when I enter certain menus, use command prompts, etc.

I can find nothing in the folder on my secondary drive where the program's insta

[2017-03-28 00:56] AlanRibas commented on #140
Boa Noite. Eu uso um programa excelente chamado "Revo Uninstaller". Com ele, além de poder desinstalar o programa que quiser, você pode também fazer uma desinstalação mais profunda, onde até mesmo informações do registro do windows, que dizem respeito com o programa, são apagados.

[2017-03-28 00:58] AlanRibas commented on #140
Você por acaso utiliza linhas de comando para abrir o antimicro? Se a resposta for "sim". Você poderia me dizer como fazer para abrir configurações especificas de controles mapeados?

[2017-03-28 01:51] RegularGonzalez commented on #140
Thanks for telling me about RevoUninstaller. It looks like it might not be Antimicro causing me problems anyway

About your question, no, I didn't use the command line in Windows (or in any program) to open Antimicro -- my reference to "command line" was about the command console in the videogame Skyrim. Opening Antimicro is done on the Desktop (in Windows - I don't use Linux at all).

Opening spe

[2017-03-28 01:54] AlanRibas commented on #140
Muito obrigado. Vou pesquisar.

[2017-03-28 06:26] RegularGonzalez commented on #140
Alan -- I'm sure you'll figure it out, but if you have any problems, message me again and I'll take another look at what I did. -- Andrew

[2017-03-28 06:40] AlanRibas commented on #140
ok. Tanks!!

[2017-03-31 12:42] wallacethefmh opened #141 "Can you configure antimicro so that a controller button is treated as a modifier and pressing other buttons while it is held changes the keyboard output?"
I am not sure if this is a good place to ask, but I spent a ton of time trying to google this and was surprised to not find any results. Maybe I am missing something obvious in the config.

I want to know if it's possible to have a mapping like this example:

Controller Press A :: Keyboard press Q
Controller Hold Right Tigger, then Press A :: Keyboard press W.

The reason I am asking is because I

[2017-04-01 04:51] qyot27 commented on #141
https://github.com/AntiMicro/antimicro/issues/129

Is that what you're looking for?

[2017-04-04 16:31] wallacethefmh commented on #141
Yes perfect, thank you.

[2017-04-04 16:31] #141 closed

[2017-04-04 16:33] wallacethefmh commented on #61
This would be very useful for path of exile, where the character is inexplicably centered at about 60% of the screen height.

[2017-04-05 10:12] thekerub opened #142 "Press Time and Hold at the same time"
I have a problem: In the game a HUD element will only open when a key is pressed for at least 1s, but the element will stay open until the key is released and then fade out after one second. So I want to have the gamepad button to hold the key on tap for 1s (done with the Press Time event), but if I keep the key pressed I want to have the key pressed until I release it. How would I achieve this?

[2017-04-13 16:03] mihawk90 commented on #139
I didn't test this (and I don't own multiple controllers to test), but just starting the file with ```Start "" "D:\Jogos\AntiMicro\CONTROLES CONFIGURADOS\NINTENDO (1 Jogador).amgp"``` will open it in AntiMicro with the default controller.

 If you want to assign it to a specific conrtoller you need to use AntiMicros command line options like you did in your first example:

    D:\Jogos\AntiMicro\a

[2017-04-13 16:32] mihawk90 commented on #120
This is already implemented.

Set names in **Sets - Settings**
![image](https://cloud.githubusercontent.com/assets/556162/25013880/b5302044-2075-11e7-8332-014072975555.png)

And under **Pref**
![image](https://cloud.githubusercontent.com/assets/556162/25013909/d61e4f88-2075-11e7-9ae1-297109e13f1e.png)

[2017-04-14 23:34] jsbackus opened #143 "Add Uninstall Link"
At least am able to use the Uninstall Programs dialog in Win7, but we should be installing an Uninstall link, too.

[2017-04-14 23:35] jsbackus commented on #140
Hi @RegularGonzalez, sorry for taking so long to respond. I've been able to remove AntiMicro through the "uninstall programs" dialog in the control center, at least with Win7. I haven't used win10, yet, but I assume there is a similar mechanism? I need to modify the installer to include an Uninstall link (#143).

It sounds like you are all set, so I'm going to go ahead and close the issue. Please

[2017-04-14 23:35] #140 closed

[2017-04-14 23:42] jsbackus commented on #142
Hmmm.. not sure that what you are asking is possible to do with the same button. You might need to configure 2 buttons: one for 'trigger 1s display' and one configuration as a simple assignment. Another option is to use two nearly identical sets, but the button is 'trigger 1s display' in one set and simple assignment in the other.

We'd like to add support for a script-like interface that would al

[2017-04-14 23:44] jsbackus commented on #120
hah! You're right! Thanks for pointing that out! 😃

[2017-04-14 23:44] #120 closed

[2017-04-15 05:53] audetto opened #144 "Wayland"
Is wayland supported?

I am on Fedora 25 Wayland and I can get it to work.
It is configured, but the keys or mouse event don't do anything.

Thanks

[2017-04-15 06:07] audetto commented on #144
it is called uinput.

[2017-04-15 06:07] #144 closed

[2017-04-22 20:39] mihawk90 commented on #90
Just for the record, I've been using the Guide button since forever (maybe early 2016?) with AntiMicro and it's flunky at best.
It is being remapped for me, however every now and then the "normal" behaviour is triggered as well (i,e. showing Steam Overlay; I disabled the Xbox app, I think.. you never know with 10)

[2017-04-23 00:16] mihawk90 commented on #137
It's not a hook per se, it just ads a link above the input fields for new issues/PRs:

https://github.com/blog/1184-contributing-guidelines

There's also [Pull Request and Issue Templates](https://github.com/blog/2111-issue-and-pull-request-templates)

[2017-04-23 00:26] mihawk90 commented on #143
On that note (since it's both related to installers), please give the installer a feedback when it's done installing. Currently the installer just closes and the Shortcuts appear in the Startmenu. I first thought the installer crashed on me until I saw they were just there :)

[2017-04-23 13:50] mihawk90 opened #145 "Button Label does not properly reset on cycle reset"
To test this you can set up a simple 3-button cycle, or use the profile in AntiMicro/antimicro-profiles#12. When I press the cycle once the text changes to the next assignment in the chain (in the profile above from `G` to `F`), but letting go of the _Left Shoulder Button_ (thus resetting the cycle) does not reset the label to `G`.

When I press twice the label changes from `G` to `F` to `F1`, let

[2017-04-23 16:43] fanfani commented on #67
what is the state of the art about this issue? still no real combo feature? still just a workaround solution? thank you :-)

[2017-04-25 07:28] RadarNyan opened #146 "Feature Request: Block original controller events on mapped buttons"
Let's say I have a game which has controller support (and very aggressively - unplug before start and plug in after start won't work) but doesn't provide a layout editor.

I want to map my controller buttons to keyboard manually. The problem is, the game still gets which button on the controller is pressed, results in unwanted behavior.

I know that Steam kind of support this but it's not as flexi

[2017-04-26 01:24] mihawk90 commented on #47
Or just copy the HTML generated by GitHub I guess :P

[2017-04-26 02:20] mihawk90 opened #147 "Command Line --help/-h does nothing"
Command Line Help will not show at all. Tested on Win10 Power Shell and Command Prompt. AntiMicro 2.23.

![image](https://cloud.githubusercontent.com/assets/556162/25415385/9b690038-2a37-11e7-9661-625c9ecfe13a.png)

[2017-04-26 05:46] qyot27 commented on #147
Expected behavior because of SDL.  -mwindows stops cmd.exe from using stdout, and PowerShell must still be tethered into the script host affected by that to also share the problem.  Use something not remotely part of Windows (mintty on top of bash as provided by msys2, for instance), and stdout works.

There's only one way to fix it: AntiMicro must be built with -mconsole, and -mconsole more than

[2017-04-26 21:01] mihawk90 opened #148 "Release command keeps repeating last keystroke"
For reproduction create a simple Release Command like this:
![image](https://cloud.githubusercontent.com/assets/556162/25456471/3f4fb476-2ad3-11e7-8861-a0be985de280.png)

Open Notepad, press the button for the specified time.

Result:

    abccccccccccccccccccccccccc

    abccccccccccccc

    abccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc

    abc

    abcccc

[2017-04-29 23:14] drakovyrn commented on #148
I just figured out that this happens as well, and it happens with any amount of regular assignments more than 2, not just for the "Release" command.

I was trying to put a bunch of text and commands on one button (to quickly fill out forms for work) but noticed that after it enters what I have, the last character is continuously repeated until it detects a different event from the assigned control

[2017-04-30 04:44] socialloser1 opened #149 "antimacro doesn't work on some linux terminal emulators"
on my archlinux system with gnome desktop, antimacro works well on most programs I tested , but some terminal emulators doesn't get the mapped keyboard input. as the test results , xterm works, while gnome-terminal and terminator do not. how should I configure to make it work ?

[2017-05-07 23:11] jsbackus commented on #90
@mihawk90 Interesting... And you didn't have to do anything special to allow AntiMicro to see it?

[2017-05-07 23:12] jsbackus commented on #137
@mihawk90 Interesting! Thanks for the clarification.

[2017-05-07 23:14] jsbackus commented on #143
Good point! Yes, I am ... not happy with WiX. Seems to be missing a number of standard features.

[2017-05-07 23:16] jsbackus commented on #145
Argh. Yeah, sounds like a display bug. We'll get it straightened out.

Re: resetting on set change - Since I didn't implement it, I can't say what the intended behavior was, but I agree that it is the right way to respond. 😄

[2017-05-07 23:19] jsbackus commented on #67
Interesting. I'll take a closer look at it when I have some time.

[2017-05-07 23:30] jsbackus commented on #146
Hi @RadarNyan, yes, I can see why you would want that feature. Unfortunately, it is a difficult feature to implement and beyond the scope of AntiMicro. Sorry!

[2017-05-07 23:30] #146 closed

[2017-05-07 23:30] jsbackus commented on #47
Yeah, that isn't a bad idea. 😀

[2017-05-08 00:11] jsbackus commented on #147
Interesting... Thanks for the info, @qyot27! I'll take a closer look when I get a chance.

[2017-05-08 00:12] jsbackus commented on #148
Yikes! Yeah, definitely a bug. I'll take a closer look when I get a chance. Thanks!

[2017-05-08 00:19] jsbackus commented on #149
Interesting.... Are you enabling uinput? i.e:
[code]
Do you know if you are using Wayland or X? Fedora recently changed Gnome to use Wayland by default, and Arch is usually quite a bit ahead for things like that.

[2017-05-08 19:42] mihawk90 commented on #90
Nope, nothing special.

I have the Original Xbox One Controller, connected via USB. Used to be a Windows 8(.1) installation, upgraded to Windows 10.

![image](https://cloud.githubusercontent.com/assets/556162/25821942/3f462876-3437-11e7-81ed-a740e7d767a8.png)

Not sure what would help :D

[2017-05-16 06:14] socialloser1 commented on #149
yes , the problem is solved. you are right, the problem is caused by the default wayland session.

[2017-05-16 06:15] #149 closed

[2017-05-16 12:46] gb2111 opened #150 "All keys detected but not even one key press detected :("
Hi,
I have this pilot
http://www.ceneo.pl/47024740

Antimicro will detect all keys but it does not handle any press or joystick move.
Any idea? Should I return joystick? If yes, why it was not working and how can I tell which one to order?

Thanks so much,
Greg

[2017-05-16 12:52] gb2111 commented on #150
I am stupid. I changed mode to game and it works.

[2017-05-16 12:52] #150 closed

[2017-05-25 20:32] PS1Online opened #151 "Where is it the checkbox "Launch At Windows Startup" in the config file? I do not find it"

[2017-06-15 06:29] Skeuos opened #152 "xinput triggers do not enable set selector as "while held" stays as "one way" (x64 only)"
I have tried antimicro x86 and this issue is not present!
I'm using an xinput controller (Xbox One elite) in Windows 7 x64 with antimicro x64 and trying the Set Selector feature on either left or right triggers enabling it in the Advanced options however afterwards when Triggers activated (being xinput with the natural quirk of having both triggers half of an axis preset was used with Positive Hal

[2017-06-15 11:42] lasers commented on #132
Hi @jsbackus,

I am verifying this... and here's my findings.

Is it not a typo? We wanted `--no-tray`, not `-no-tray`. It was a typo too in #124.

Grepped the current source code. Got several `--no-tray` here.
[code]
Also, the commit edba864 introduced `--no-tray` here.

To verify this some more, I tried both `--no-tray` (got no tray) and `-no-tray` (got a tray)... so I think it's working correct

[2017-06-16 19:02] faissaloo opened #153 "Adding an exec assignment doesn't give feedback if the file isn't found"
If I type 'onboard' in the box and hit 'insert' it doesn't work, I'm given no indication that it's unable to find the file, nor the fact that it's not using my PATH and instead wants me to type "/usr/bin/onboard".

[2017-06-20 12:27] Skeuos commented on #152
Seems like the triggers really have a hard time acting like buttons while attempting to use the "press and double press" macros, even sending multiple keys in a row with short pause in between or even a regular cycle macro but does not work when applied to the Triggers when they are being actuated from a destination set (and I tested using the macro examples on the wiki).

What do I mean by this?

[2017-06-21 18:46] PowaBanga opened #154 "error compilation Variable set to "NOTFOUND" ????"
Hi all,
I need qjoypad, but when i double clic on the icon, it crash, i do not know why. (ubuntu 17.04)
So i find this project, who look good, but I do not want install it in root.
And finaly I have this error message, that i do not understand... :
[code]

Somebody can help me please ?

[2017-06-22 19:22] mihawk90 commented on #90
Not sure if/how this is related, but interestingly steam's controller section in the settings shows this controller as "unknown"

![image](https://user-images.githubusercontent.com/556162/27451838-c881ba98-5790-11e7-8e6c-84e0b7ab7696.png)

And I also realised that the "default actions" I mentioned earlier are actually not Windows 10's default actions, they are from steams controller thing. So yeah

[2017-06-22 23:01] Karshilistic commented on #61
Can we please have this? Would be indeed beneficial. Possibly with options of entering the home offset coordinate values in X and Y, or clicking on the new origin.

[2017-06-25 14:26] Papermanzero commented on #61
Well, developers are missing to extend antimicro. Someone has to support and maintain the development.

[2017-06-28 11:10] AlienX97 opened #155 "Issue with deadzone"
I found in Power Mode decreasing the sensitivity increases the deadzone, with sensitivity about 0.280, cursor dont moves even when marker will left the deadzone and appear in the green zone. I encountered also difficulties with aiming at the angle with that low sensitivity, the sensitivity increases among the separately Y and X axis, when aiming at the curve, i need to do larger move with joystick

[2017-06-30 20:30] mrk310310 opened #156 "about acceleration modes and aiming precision"
While setting up CoD4 profile I found the Enhanced Precision and Easing modes to be better for quick and snappy close/mid range aiming beating Quadratic and Cubic modes at that, yet they felt not so great for longer range tiny aligns, the simple Quadratic mode had notably higher accuracy for that (and for turning in corridors) which is unfortunate imo. The lack of aim assist requires lots of small

[2017-07-01 20:20] AlienX97 opened #157 "Issue with deadzone"
I found in Power Mode decreasing the sensitivity increases the deadzone, with sensitivity about 0.280, cursor dont moves even when marker will left the deadzone and appear in the green zone. I encountered also difficulties with aiming at the angle with that low sensitivity, the sensitivity increases among the separately Y and X axis, when aiming at the curve, i need to do larger move with joystick

[2017-07-02 13:19] AlienX97 commented on #157
I mean that making the square move would be impossible and recognition of the analog stick would be used only for recognition of which way the cursor moves, and how fast it run would be measured according to distance from the center of both axis. At this time when i move X and Y axis to the 50 pps to upper right, it goes 50 pps to the up and 50 pps to the right, because of that the analog stick ho

[2017-07-02 14:50] AlienX97 commented on #157
With sensivities under 0.500 aiming at the angle is almost impossible because program recognizes the sensitivity map as a square.

[2017-07-02 17:48] AlienX97 commented on #155
I mean that making the square move would be impossible and recognition of the analog stick would be used only for recognition of which way the cursor moves, and how fast it run would be measured according to distance from the center of both axis. At this time when i move X and Y axis to the 50 pps to upper right, it goes 50 pps to the up and 50 pps to the right, because of that the analog stick ho

[2017-07-02 18:32] #157 closed

[2017-07-02 18:37] AlienX97 commented on #155
I mean that making the square move would be impossible and recognition of the analog stick would be used only for recognition of which way the cursor moves, and how fast it run would be measured according to distance from the center of both axis. At this time when i move X and Y axis to the 50 pps to upper right, it goes 50 pps to the up and 50 pps to the right, because of that the analog stick ho

[2017-07-14 13:27] mrk310310 opened #158 "Menu, Super"
Keys ] and [ change themselves to Menu and Super for no reason. Happened few times on tap/hold assignments. Also the / key just changed itself to 00xf or something like that. My Windows keyboard is Engilsh (US), maybe Antimicro uses different? There should be option to choose.

[2017-07-14 16:05] #156 closed

[2017-07-15 14:23] xYann00 opened #159 "Disable original button click option in key assigment"
Best to give an example:
1. In a game I have action "change weapon" bind to D-pad down.
2. In Antimicro, using sets, I create combo macro D-pad down + RT => press M (open map)

When I try this, combo works and map opens. But at the same time D-pad down is registered and weapon is changed.

Of course I could bind change weapon to some key and use it in another macro, but that way I loose function o

[2017-07-15 15:51] mrk310310 opened #160 "Toggling is bugged, especially with d-pad"
Any toggling should reset after set changes, like in xpadder, IMO. Now it's awkward and unbearable. Try to assign leaning left/right to 2 buttons in toggle mode, the input gets messed up quickly, tap 'lean left' then forget to untap it and press 'lean right' instead you then have keys toggled together, to un-toggle them you need to press them in very special order. Switching sets doesn't depresses

[2017-07-16 18:43] ner00 opened #161 "Assignments macros distance chain limitation"
There are a few issues with action assignments, particularly with the number of actions allowed.
I've had mixed results editing the XML directly, and I could almost swear that at one point I was able to have 5 distances actually working, not simply visible on the GUI.

Here is a practical example of what I tried:
I needed to configure 10 actions for Axis 2(-) based on distance, so I started to con

[2017-07-16 20:29] danboid opened #162 "Provide a simple/user-friendly way to fix D-pads that show up as axes"
antimicro 2.23 installed via ports under TrueOS

I have a Trust Predator USB joypad that works fine under Linux. FreeBSD doesn't have any 'proper' joypad support so it seems antimicro is my best bet. I have been able to map all of my controllers buttons to keys using antimicro but I have not been able to map the dpad directions to keys under the game controller mapping window. I am, however able t

[2017-07-16 21:34] ner00 commented on #161
I finally figured out that the several axis distance percentages are summed together to reach 100% for that single direction of the axis. So an axis has 200%, -100% and +100%.

So, my intended macro, which is is supposed to be used in a flight simulator that only supports keyboard and has 10 gears, key 1 being neutral, key 2 being lowest speed and key 0 being highest speed, ends up like this:

**A

[2017-07-16 21:34] #161 closed

[2017-07-22 07:19] ooker777 opened #163 "How to config vibration?"
I just have a DS3 and would like to have it vibrate every time AntiMicro connects/disconnects to it successfully. Is this possible?

[2017-07-23 12:42] ooker777 opened #164 "What do the negative/positive throttle in the triggle buttons do?"
![](http://i.imgur.com/IUZsZn9.png)

I have no idea what it's for. To me it's always the right setting is triggered, whenever it's clicked or held.

The question is also asked on Arqade Stack Exchange: [What do the negative/positive throttles in the DS3 trigger buttons do?](https://gaming.stackexchange.com/q/315350/95533)

[2017-07-25 23:41] danboid commented on #162
I believe I have worked out the problem here and how to work round it.

First I built and installed antmicro under (Arch) Linux and noticed antimicro  under Linux has exactly the same problem as am under FreeBSD - I am unable to assign controls to the dpad directions.

As I mentioned in my last post, the dpad directions do register if I assign them to buttons - though doing that I could see that p

[2017-07-26 00:06] danboid commented on #162
Another thing that could've be causing issues with configuring this dpad is that when I'm not touching my USB joypad, the antimicro properties window shows all 4 axes (it has 2 analogue sticks as well as the digital dpad) on the pad as being set to -256 instead of 0 as you might expect.

[2017-08-05 17:16] tomwix opened #165 "undefined reference to symbol when trying to build"
this is what I'm getting while trying to build:

[100%] Linking CXX executable bin/antimicro
/usr/bin/ld: CMakeFiles/antimicro.dir/src/moc_joycontrolstick.cxx.o: undefined reference to symbol '_ZTVN10__cxxabiv117__class_type_infoE@@CXXABI_1.3'
//usr/lib/x86_64-linux-gnu/libstdc++.so.6: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status
CMakeFiles/antimic

[2017-08-06 10:13] Delikt opened #166 "preconfigured Profil dont load with Shell Script"
Hi, i trying to get preconfigured Profils to load via a shellscript... it worked for some weeks but now all profiles i want to load like this are empty...

Why?

my simply script:

#!/bin/bash

wine ./I\ Wanna\ Be\ The\ Boshy.exe &

antimicro --profile /home/username/Boshy_P1.gamecontroller.amgp

![peek 2017-08-06 12-04](https://user-images.githubusercontent.com/22080674/29002327-fd623760-7a9f-11e

[2017-08-06 10:18] Delikt commented on #166
If i load the script over the GUI or Terminal and not over Lutris... it works... why this happens?

[2017-08-06 14:26] jsbackus commented on #151
Hi @PS1Online, sorry to take so long to get back to you. I've here's an image showing where the check box is in the settings dialog. Hope this helps!

![am_launch_at_startup_checkbox](https://user-images.githubusercontent.com/2017971/29004196-b7c29492-7a91-11e7-869d-7f33010405f0.png)

[2017-08-06 14:27] jsbackus commented on #132
Hi @lasers, sorry for taking so long to get back to you. Yes! Thanks for tracking it down! Looks like I typo and I didn't pick up on it.

[2017-08-06 14:27] #132 closed

[2017-08-06 14:29] jsbackus commented on #153
Hi @faissaloo, interesting! Yes, I agree that we should do a sanity check after the user hits insert. I'd also agree that we should search the path. Marking this as a bug. Thanks for reporting!

[2017-08-06 14:29] jsbackus commented on #153
Also, apologies for taking so long to get back to you!

[2017-08-06 14:33] jsbackus commented on #152
Hi @Skeuos, I'm terribly sorry for taking so long to get back to you. Hmm.. Yes, sounds like a bug, particularly since it only affects x64 version. Just to verify, what version of AntiMicro were you using? And the version number was the same for both x86 and x64?

[2017-08-06 14:36] jsbackus commented on #154
Hi @PowaBanga, I'm terribly sorry for taking so long to get back to you. It looks like you need to install XTest headers and libraries. On Fedora, this `libXtst-devel`. Not sure what it is under Ubuntu. Hope that helps!

[2017-08-06 14:50] jsbackus commented on #90
Hi @mihawk90, terribly sorry for taking so long to respond. Thanks for all of the details! Very helpful. Not sure what it all means, yet. 😃

[2017-08-06 14:52] jsbackus commented on #61
Hi all, sorry for taking so long to respond. Still don't have any time for AntiMicro at the moment (see #131). Hoping to get back to this in a month or so. That being said, patches are always welcome. 😁

[2017-08-06 14:56] jsbackus commented on #155
Hi @AlienX97, sorry for taking so long to get back to you. How is this issue related to #157? I noticed you have a second comment in that issue. Is it still applicable or should I ignore #157?

You raise a good point about square vs circular zone shapes. I'll need to think about it some more. For now, marking this as an enhancement request.

[2017-08-06 14:58] jsbackus commented on #158
Hi @mrk310310, terribly sorry for taking so long to get back to you. Interesting. Yes, that is odd. It sounds like you are using Windows? If so, what version? What version of AntiMicro?

[2017-08-06 15:02] jsbackus commented on #159
Hi @xYann00, sorry for taking so long to get back to you. Unfortunately, AntiMicro doesn't forward the controller events on to other programs. Windows (or SDL) broadcasts controller events to everything, so intercepting them is beyond the scope of AntiMicro. Sorry!

[2017-08-06 15:02] #159 closed

[2017-08-06 15:06] jsbackus opened #167 "Switching sets should clear any special AntiMicro states"
For example, any buttons in the toggled state should be untoggled before switching.

We may want to make this an option, since I can see the use case where the user uses one set to get into a toggled state then switches to another set to do actions in this toggled state. Examples: crouching in an FPS, or running in WOW.

[2017-08-06 15:10] jsbackus opened #168 "Add ability to negate toggling of another key to toggling"
For example, if user configures two keys for toggling, one to lean left and one to lean right, toggling one should disable toggling on the other before entering the toggled state. See #160.

[2017-08-06 15:11] jsbackus commented on #167
Related to issue #160.

[2017-08-06 15:12] jsbackus commented on #160
Hi @mrk310310, sorry for taking so long to get back to you. I agree with you regarding expected behavior. I created #167 to track the switching sets issue, and I created #168 to track the interaction issue. Thanks for reporting!

[2017-08-06 15:15] jsbackus commented on #161
Hi @ner00, terribly sorry for taking so long to get back to you. Glad you were able to figure out a solution. Forgive my ignorance - I took this project over and am still learning the code - but are you able to represent your solution correctly in the GUI or did you have to do this via the XML?

[2017-08-06 15:18] jsbackus commented on #163
Hi @ooker777, sorry for taking so long to respond. In theory, yes, we could add  that feature. 😁 At least the connect part is easy. The disconnect part is going to depend on if AntiMicro intended to disconnect or not, since we can't communicate with it once we've disconnected. Do you have specific examples of when you want it to vibrate on disconnect?

[2017-08-06 15:34] jsbackus commented on #164
Hi @ooker777, sorry for the delay. I can see your confusion. Your trigger buttons are being presented to AntiMicro as an axis (like Left/Right or Up/Down on your D-pad). I suspect this is because your triggers are analog and not simply buttons like they are on my PS1 controller. Let's use the Left/Right of an analog stick or the D-pad as an example. Moving/pressing right will (typically) register

[2017-08-06 15:55] jsbackus commented on #162
Hi @danboid, sorry for taking so long to get back to you. Yes, I have the same issue with the D-pad on my PS1 controller. Not sure where the confusion is coming from. Probably either the low-level driver or SDL, since we just use whatever the system tells us.

Very handy work around! We have the ability to build your own string via Options->Game Controller Mapping, but it might be nice if we had a

[2017-08-06 15:58] jsbackus commented on #165
Hi @tomwix, hmmm... Looks like it is either an SDL or Qt issue. What versions of Qt and SDL2 do you have installed?

[2017-08-06 16:02] Papermanzero commented on #131
Coulda patreon support? :-)

[2017-08-06 16:09] jsbackus commented on #166
Hi @Delikt, that is ... interesting. Wow. Hmm.. What version of AntiMicro are you using? Also, can you try specifying the full path AntiMicro when you run it on Lutris? i.e. `/usr/bin/antimicro --profile <blah>` I wonder if you're loading a different version (for whatever reason). I see that the skin is different, but I'm assuming that it is just Lutris changing the default.

Also, can you give me

[2017-08-06 16:13] jsbackus commented on #131
I wish! Unfortunately, it is simply a matter of life. Too many responsibilities. Hoping to have some free time in the next month or so, so that I can get back to this. Then we can talk patreon support. 😁 Thanks to everyone for their patience!

[2017-08-06 17:58] Delikt commented on #166
its the 2.23 version of Antimicro. the same issue happens if i write the absolute path. If i start the script via Lutris 0.4.13 it ignores my theme what you see... thats also a mystery for me

with Lutris i can bind executables from kinda all sources (Wine, Steam, Emulators,Native Games, Shellscripts (good to setup your controller automatically with the right Profile from Antimicro per script), Te

[2017-08-06 18:11] Delikt commented on #166
maybe the devs (https://github.com/lutris/lutris) can coop with that project... a included Antimicro in Lutris will be fabulous and totaly overpowered ;)

[2017-08-06 18:22] jsbackus opened #169 "Add support for emulating mouse double-click"
(see e-mail re: minecraft)

[2017-08-06 20:31] ner00 commented on #161
Hey, @jsbackus, no worries. Thanks for taking the time to reply.
Yes, I was able to use the GUI, as intended. It was through the experimentation within the GUI that I figured what was wrong with my reasoning. The problem was that I didn't immediately understand the dynamic of this mechanism. I think the wiki should explore this further for the sake of people like me :)

My first assumption was tha

[2017-08-06 21:32] gjwufq3x opened #170 "Bounds checking on window position"
I have no idea how it happened, but at some point while using it, AntiMicro added

WindowPosition=@Point(-32768 -32768)

to "%LOCALAPPDATA%\antimicro\antimicro_settings.ini"

Since that file also persists after an uninstall, that meant that no amount of closing, reopening, reinstalling, or so on would result in AntiMicro being drawn on the screen. It might be worthwhile to have a check on startup

[2017-08-07 01:10] Skeuos commented on #152
Thank you kindly for your reply I just did some more testing and I have come about a solution luckily and now issue is gone when I do the following of loading a profile I make with x86 version onto the x64 version it does not display the issue, the triggers change set as 'while held' correctly.

Wouldn't have stumbled upon this if you hadn't replied and that making me check the versions again with

[2017-08-07 10:22] faissaloo commented on #153
No biggie :)

[2017-08-08 12:45] danboid commented on #162
Hi jsbackus

I have tried opening Options -> Properties and circling the dpad but my joypad axes still default to -256 afterwards, not 0.

[2017-08-08 13:17] ooker777 commented on #163
No. But as you say, you can't communicate with it once it's disconnected. So how would you do it?

[2017-08-08 13:22] ooker777 commented on #164
Yes, thank you. So AntiMicro recognizes it wrong, is that correct? My controller is PS3

[2017-08-20 13:29] ghost opened #171 "Questions about command line and issue"
Hello. Thanks for this helpful tool! :) Perfect to use old PSX(1,2..) game-pad!
I have issue with command line and don't know if it's a bug or if I do something wrong.
First, I always have this message:`QFSFileEngine::open: No file name specified` (xubuntu16.04).
Why?

Then, I would like to set a command line with specified profile and set.
So I do: `~$ antimicro --profile /path/to/my/file.amgp --

[2017-08-24 08:15] Greasep41nt opened #172 "Pressing back minimises window"
Hi,

I'm having an intermittent issue where I press the back button and the window I'm in is minimised.

The button is mapped to the escape key.
This has happened in a few different games including: Far Cry 3, Bioshock Infinite, Wolfenstein: The New Order.

Restarting antimicro fixes the issue, temporarily.
Restarting the game doesn't seem to have any effect.

Any advise would be great.

Thank you

[2017-08-24 20:21] zergstarmaster opened #173 "PlayStation 2 Guitar Hero Guitar Strum bar not detected"
I am attempting to use a PS2 guitar for guitar hero. AntiMicro detects the device and all of the button inputs except the strum bar. In Windows (10) under Devices and Printers, there is a PS3 controller. Right clicking, selecting game controller settings, then selecting properties, Windows shows all of the inputs in real time from the controller. The buttons on the guitar register as buttons, the

[2017-08-26 08:09] mrk310310 commented on #158
Hey, hi! I was using Win 10 64x + Antimicro 2.23. I also use US keyboard and a Cyrillic one, so that may have caused the problem.

[2017-08-28 02:04] DavidJCobb opened #174 "Crash when switching to a Set, due to something somewhere inside of that set"
If I'm currently editing another Set and I click the button to view and edit Set 1, AntiMicro will crash instantly.

Version 2.23 on Windows 10.

[2017-08-28 02:29] DavidJCobb commented on #90
Windows 10 has an option to stop opening the "Game Bar" when the Guide button is pressed. However, if I use that option, switching Sets with the Guide button intermittently crashes AntiMicro.

[2017-08-28 02:40] DavidJCobb opened #175 "Crash when any button executes a batch file and then performs a set change"
Steps:

1. Set any button in Set 8 to execute the following sequence: [Execute] [Set Change]. You should execute any batch file (`echo "test"` will do), and switch to set 1.

2. Press the button while Set 8 is active.

Expected result: The batch file executes and you return to Set 1.

Actual result: AntiMicro crashes.

Platform is Windows 10 x64. Latest AntiMicro (2.23). I wanted to make a "hold t

[2017-08-28 02:42] DavidJCobb commented on #175
Actually, this could be a symptom of [set 1 being broken](https://github.com/AntiMicro/antimicro/issues/174), since AntiMicro tries to always display the current set.

[2017-08-28 02:45] DavidJCobb commented on #174
Copying my Set 1 to Set 2 causes this bug to occur when switching to Set 2. Affected file attached.

[broken set.zip](https://github.com/AntiMicro/antimicro/files/1254979/broken.set.zip)

[2017-08-28 02:48] #175 closed

[2017-08-28 02:49] DavidJCobb commented on #174
Further investigation indicates that this is caused by having any "eight-way" stick anywhere in the set. This therefore appears to be a duplicate of #68 .

[2017-08-28 02:49] #174 closed

[2017-08-30 00:14] trymeouteh opened #176 "Import/Support JoyToKey, Xpadder & Pinnacle Gamer Profiler Files"
I know this would be a big feature, especially for the Pinnacle Gamer Profiler files. But if you can import or even be able to use profiles for JoyToKey, Xpadder or Pinnacle Gamer Profiler would be great. There are many games that use these profiles and to be able to use them all in one program would be great!

[2017-09-02 14:20] jsbackus commented on #166
Hi @Delikt, sorry for taking so long to get back to you. Thanks for the info! I suspect that Lutris is overriding the default theme for Qt, which is why it matches the Lutris theme. Kinda neat, actually. I'll take a closer look at the interaction when I get a chance.

Being able to load different profiles for different controllers is a known issue, but I can't seem to find it at the moment.

A coo

[2017-09-02 14:23] jsbackus commented on #170
Hi @gjwufq3x, sorry for taking so long to respond (see #131). Yikes! Yes, definitely a bug. I agree, clamping to the window makes sense. I'll mark this as a bug and work on it when I have a chance. Thanks for reporting!

[2017-09-02 14:27] jsbackus commented on #152
Hi @Skeuos, sorry for taking so long to reply.

Yes, that is a good point. We haven't been building x64 versions since the move. If you run into any limitations due to the 32bit version, please let us know.

Glad you were able to find a work-around. I agree that this is still a bug that needs to be fixed. Particularly if/when we add building a 64bit version back in. Thanks for reporting!

[2017-09-02 14:29] jsbackus commented on #162
Hi @danboid, sorry for taking so long to respond.

Interesting.. I guess I just get lucky. Sounds like we may want to incorporate some sort of calibration mechanism for the *nix machines, as well. I'll look into this when I have a chance. Thanks for reporting!

[2017-09-02 14:38] jsbackus commented on #163
Hi @ooker777, sorry for taking so long to respond. I believe AntiMicro is able to detect when a controller is connected. When that happens, we should be able to send it a vibrate event. SDL makes that part pretty easy.

[2017-09-02 14:41] jsbackus commented on #164
Hi @ooker777, sorry for taking so long to respond. In short, yes, AntiMicro isn't properly recognizing your controller. I suspect the issue lies with the SDL controller database, since we just look up your controller's ID in that. Have you run into this issue with other games?

[2017-09-02 14:54] jsbackus commented on #171
Hi @XzuRukneg, I'm terribly sorry for taking so long to respond (please see #131).

Your welcome! Glad you are enjoying AntiMicro. And yes, I get a lot of use out of my PS1 controller, too. 😄

Hmm.. I haven't seen the QFSFileEngine issue before. Can you do me a favor and add `--log-level debug` to your command-line? This will create a file, antimicro.log, in the current directory.

Hmmm.. Yes, you

[2017-09-02 14:59] jsbackus commented on #172
Hi @Greasep41nt, sorry for taking so long to respond (see #131). Wow, this is a new one. 😄 Hmm.. Is there a particular button that you hit prior to back each time it minimizes? I wonder if it is some weird interaction between two button combinations. Do you know if these games have an official key combo to minimize the window? What happens if you use a different key? I'm assuming you can configure

[2017-09-02 15:22] ooker777 commented on #164
Actually I only use the controller to control Windows, not to play any
game, so it doesn't affect my usage.

On Sat, Sep 2, 2017, 21:41 Jeff Backus <notifications@github.com> wrote:

--

Ooker. (📱)

[2017-09-02 15:25] ooker777 commented on #163
Will you implement this? If I can help you, tell me.

On Sat, Sep 2, 2017, 21:38 Jeff Backus <notifications@github.com> wrote:

--

Ooker. (📱)

[2017-09-02 15:26] jsbackus commented on #173
Hi @zergstarmaster, sorry for taking so long to respond. If you open the game controller mapping dialog, what happens when you try to assign the PoVH hat to a Y axis? e.g. click in the empty box next to Left Stick Y and strum in one direction.

[2017-09-02 15:27] jsbackus commented on #158
hi @mrk310310, sorry for taking so long to respond. Yes, it is possible that the Cyrillic keyboard is confusing things, or at least confusing AntiMicro. I'll try to look into it more when I have a chance. One thing you could do is make sure that your Cyrillic keyboard is unplugged before starting AM.

[2017-09-02 15:29] jsbackus commented on #90
Hi @DavidJCobb, interesting! Sounds like that is the key to getting AM to see the guide button. The crashing, however, sounds like a bug. 😀 What happens if you configure the guide button as a key press instead of using it to switch sets. Does it still crash?

[2017-09-02 15:31] jsbackus commented on #176
Hi @trymeouteh, interesting suggestion! I'll mark it as an enhancement and take a closer look when I have some time. Thanks for the suggestion!

[2017-09-02 15:36] jsbackus commented on #164
Ah, good. Glad it isn't adversely affecting you. 😁 I'm going to close this. Happy gaming!

[2017-09-02 15:37] #164 closed

[2017-09-02 15:39] jsbackus commented on #163
Eventually. 😀 I would be grateful for the help. The best way to help is to take a pass at implementing it in code. Unfortunately, it has been a long time since I've looked at that section of the code, so I can't remember enough to give direction.

[2017-09-02 17:09] zergstarmaster commented on #173
@jsbackus Nothing happens when I try to assign the PoVH to the Y axis. The strumming is not detected, even under the Key Checker dialog.

[2017-09-03 14:41] jsbackus commented on #173
Hmm.. can you send me a screenshot of the Options->Properties window?

[2017-09-03 15:01] XzuRukneg commented on #171
Thanks for your good welcome! :)

So I've started (and closed) as you ask:
[code]
Don't got the last line without --debug, and... no .log file! :/

[2017-09-03 18:45] Delikt commented on #166
no problem, i hope there is a fix sometime for the different profiles for different controllers. The Theme change isn't really a problem ;)

[2017-09-04 00:35] zergstarmaster commented on #173
Nothing changes or lights up when I strum here either, but everything else does. The first is with no inputs pressed, the second is with all possible inputs from the the guitar. As a side note, the start and select buttons trigger on axis 6 and 5, rather than a button.
![capture](https://user-images.githubusercontent.com/31323953/30007874-24671afc-90de-11e7-995a-09622d9e7f08.PNG)
![capture 2](http

[2017-09-04 05:22] Greasep41nt commented on #172
Hi @jsbackus, thanks for getting back to me.
I haven't noticed if there's a button I hit before this happens, I'll keep an eye on it.
I don't see an official minimise key combo in the controls for those games.
It's only happened with the Esc key, to bring up main menu, I've never seen an option to rebind that function, but I'll keep it in mind.
I'm using Windows 10.
I'll try binding Esc to the 'St

[2017-09-04 23:07] Warriors-Blade commented on #176
This is a feature I was wanting as well, I hope you take it into even bigger consideration after reading this.